[2020-11-10 21:17] chet-ensign opened #1 "'Send a comment' links on TC webpages don't get styled"
@jorydotcom caught this problem. Sample link https://www.oasis-open.org/committees/comments/index.php?wg_abbrev=cti

This is a Kavi problem. I sent an alert to Jesse at Bitlancer.

[2020-11-10 21:22] chet-ensign opened #2 "Add "back to top" link on filterable archives"
Issue #189 on HM issues list. Labelled "Refine" In their icebox category.

Goal
As a site user reading through long lists of OASIS standards or committees, I'd like to be able to easily navigate back to the top of the page after scrolling a long distance.

Details
Mentioned in https://github.com/humanmade/OASIS/issues/187#issuecomment-721756409:

the [Projects & Committees] page is super long with

[2020-11-10 21:26] chet-ensign opened #3 "Members and their work are featured or highlighted"
This is #32 on HM's issues list. Labelled "Could do" and "Pending Design". In their icebox category.

Goal
As a visitor, I want to see the work members are doing, so that I understand the value members provide to OASIS.

As a member, I want my work featured to visitors, so they see the value I'm giving to OASIS.

Details
Members and/or their work should be featured or highlighted on the site, in s

[2020-11-10 21:28] chet-ensign opened #4 "Elasticsearch-powered, flexible search implementation"
This was #37 on HM's issues list. Labelled "Future" and "Refine". This was the more sophisticated search engine.

Goal
As a visitor, I want to be able to easily search for information about OASIS, so that I can find what I want without difficulty. Postponed in favor of vanilla Google Search.

Details
Building a more advanced search on Elasticsearch means providing a more interactive and clear sear

[2020-11-10 21:30] chet-ensign opened #5 "Glossary across entire site"
This was #49 on HM issues list. Labelled "Refine" and "Should do"

Goal
As a visitor, I want to be able to know the lingo of OASIS, so that I can understand the progress of standards and committees.

Details
With every organization, there's a lot of "lingo" that's used throughout. We should have a glossary tool that defines that lingo on the site, either on hover (desktop) or on top (mobile).

Rel

[2020-11-10 21:37] chet-ensign opened #6 "Add slideshow option to default image galleries"
This is #46 on HM's issues list. It was labelled "Refined" and "Should do"

Goal
As an editor, I want to be able to add image galleries to content, so that I can share multiple images at once.

Details
Image galleries for events and similar posts would be helpful for editors to share their content.

Notes
The design includes an image gallery in a slideshow format. We're also adding a slider for th

[2020-11-10 21:38] chet-ensign opened #7 "Clear breadcrumbs indicating location on site"
This was #43 on HM's issues list. It is labelled "Should do"

Goal
As a visitor, I want to be able to easily see where I am on the site, so that I can navigate elsewhere.

Details
We've identified that breadcrumbs are important for navigating the site, given the amount and depth of content.

Notes
TBD

Designs / Screenshots
https://projects.invisionapp.com/share/HQYR0R6NWYE#/screens/431731748
http

[2020-11-10 21:48] chet-ensign opened #8 "Open Projects page with Active filter applied by default"
Issue identified by @CarolGeyer.

Goal: as a visitor to the OASIS web site, when I open the list of projects, I only want to see those that are currently active. If I want to see inactive ones, I'll select that option.

Currently the site shows all projects, most of which are closed.

[2020-11-10 21:52] chet-ensign opened #9 "CTAs / promos / advertisements on Standards & Projects landing pages"
This is #53 on the HM issues list. It is labelled 'Should do' and 'Refine'.

Goal
As a marketer of OASIS, I want to be able to create custom CTAs (aka, promotional or advertisement banners) that display on the Standards & Projects landing pages, so that I can encourage engagement from visitors.

Details
The wireframes feature custom CTAs; one each on the Standards and Projects landing pages, respe

[2020-11-10 21:56] chet-ensign opened #10 "Ability to browse filterable archives by multiple technologies"
This is issue #135 in HM issues list. It is labelled 'Should do' and 'Refine'.

Goal
As a user interested in a range of technologies, I want to be able to browse a listing to see any content in any of the terms I specify.

Details
Continuing on from #38:

The filters in a default post query are part of an AND query: selecting multiple technologies will return the list of post while have ALL of tho

[2020-11-10 21:58] chet-ensign opened #11 "Footer navigation has expand/collapse buttons to match design"
This is #157 in the HM issue list. It is labelled 'Should do' and 'Refined'

Goal
As a site visitor, I want to be able to access specific sections by choice, so that I can quickly scroll through the footer.

Details
We descoped this in #29 for launch and decided stacking the menu items was good enough for launch, but we'd still like to have them expand and collapse so that the footer is not so dee

[2020-11-10 22:05] chet-ensign opened #12 "Create Member Resources page and add it to home page"
Member Resources is needed as an access point where members can find supporting materials such as the support request forms, motion language template, or the editors manual. The link was taken down on the initial release because the page wasn't designed and ready.

This ticket tracks (a) creating the format and content for the page and (b) determining where to locate it on the home page and adding

[2020-11-10 22:09] chet-ensign opened #13 "Limit the Google search box to the OASIS assets"
Currently the Google Search box upper right of the home page appears to execute a search of the entire web. To be useful, it would help to limit it to the OASIS sites.

[2020-11-10 22:12] chet-ensign opened #14 "Link US-TAG pages from the Projects page"
Issue reported by Dee Schur.

I found two links the are not connected to old website content: https://www.oasis-open.org/ustag-iso317-consumer-privacy-by-design/ and https://www.oasis-open.org/ustag-iso324-sharing-economy.

Chet notes that these may belong as entries on the Projects page. Need to confirm with Dee.
<DS> Scott has fixed both US TAG pages they now link to the correct content but the

[2020-11-10 22:15] scottmcgrath commented on #14
I have fixed page https://www.oasis-open.org/us-tag-sharingeconomy/  .  The page renders, but not anywhere in nav

I cannot find a WP page or the original content on the legacy site for /ustag-iso324-sharing-economy.

[2020-11-10 22:16] chet-ensign opened #15 "Add excerpts and Technology Area tags to all Standards"
Standards page currently just shows the lists of names. Adding a brief excerpt will give a quick explanation of their purpose. Technology Area tags will help to filter. This will be manual updating.

[2020-11-10 22:22] chet-ensign commented on #14
@scottmcgrath - Carol was talking about adding them to the Projects page. For the moment though, the TAG program is listed in the footer - see https://www.oasis-open.org/tags/

[2020-11-10 22:25] chet-ensign commented on #14
Also, those logos are gi-normous.

[2020-11-10 22:31] chet-ensign opened #16 "Add excerpts and Technology Area tags for active Projects"
Current list of projects just shows name and acronym or logo for projects.

For active projects, a short excerpt would let readers know briefly what the project is doing. Technology Area tags would enable filtering.

For inactive projects, we should also add 'Completed' to the excerpt

[2020-11-10 22:39] scottmcgrath commented on #14
Dee later suggested the othe page she was looking for is https://www.oasis-open.org/ustag-iso317-consumer-privacy-by-design/
I fixed the post on that too.  I made minor edits to logo sizes on both
 https://www.oasis-open.org/us-tag-sharingeconomy/  and
https://www.oasis-open.org/ustag-iso317-consumer-privacy-by-design/

Both pages require redesign

[2020-11-10 22:40] scottmcgrath commented on #14
https://www.oasis-open.org/ustag-iso324-sharing-economy.  remains missing

[2020-11-10 22:48] chet-ensign commented on #14
It looks to me like /us-tag-sharingeconomy/ and /ustag-iso324-sharing-economy/ are two filenames for the same animal. They were listed from https://www-legacy.oasis-open.org/tags which was under the Groups drop down.

I suggest we don't worry about the second one since the first is the one that was linked from the legacy site.

[2020-11-10 22:49] chet-ensign commented on #14
I think I can fix them on the ANSI TAG page.

[2020-11-10 22:49] chet-ensign commented on #14
Since I'm there already.

[2020-11-10 23:07] chet-ensign commented on #14
I went ahead and updated the links on https://www.oasis-open.org/tags/ using /us-tag-sharingeconomy/. I don't know that we ever had the ustag-iso317

[2020-11-11 14:03] chet-ensign opened #17 "Fix ToC on TC Process and other policy documents"
Rex Brooks reported that the ToC on the TC Process is a big pancake - no line breaks. Need to fix the formatting and check whether it is a problem on any of the others.

[2020-11-11 14:07] chet-ensign commented on #1
Jesse fixed the formatting up. Pages look good. I'll close this ticket.

[2020-11-11 14:07] #1 closed, assigned to nobody

[2020-11-11 14:11] chet-ensign opened #18 "View Projects link from individual project pages is wrong"
Noticed while checking committee pages. For example, navigate to https://www.oasis-open.org/committees/tc_home.php?wg_abbrev=cacao

Click Projects link on the top nav bar and you get the complete list of projects as expected. However, mouse over Projects, go down and click View Projects and you get a different URL - https://www.oasis-open.org/view-projects/ - that's a dead end.

[2020-11-11 14:14] chet-ensign commented on #18
Reported the bug to HM on the Slack channel.

[2020-11-11 15:00] chet-ensign opened #19 "Liaison page is incomplete"
The list of liaisons at https://www.oasis-open.org/liaisons/ is incomplete. Only lists about 10 of the over 40 liaisons we had on the original page.

I will enter this in the HM bug tracker as well.

[2020-11-11 15:07] chet-ensign commented on #19
Opened bug report #219 in HM issues list

[2020-11-11 15:11] chet-ensign commented on #18
@scottmcgrath notes this is a fix for Jesse to make. He is handling it.

[2020-11-11 15:18] chet-ensign opened #20 "Liaisons content is out of date and needs updating"
The Liaison page includes a References column with links to the respective organization. Many of these links are broken or out of date. They were this way on the legacy site so this isn't an import bug.

[2020-11-11 15:34] chet-ensign opened #21 "Emergency TC page lacks right hand column - Related Links etc."
Spotted by @CarolGeyer . The Emergency Management TC page (https://www.oasis-open.org/committees/tc_home.php?wg_abbrev=emergency) is missing the right hand columns: Related links/TC Participants. So far, it appears to be the only one. Spot checking other TCs doesn't bring up the problem.

This is a problem to report to Jesse / Bitlancer.

[2020-11-11 15:37] chet-ensign commented on #21
Reported to Jesse at Bitlancer.

[2020-11-11 15:39] chet-ensign opened #22 "Fix links for Open Projects from projects page"
@CarolGeyer notes: the entries in 'Projects & Committees' for the OCA and OSLC OPs link directly to the OCA and OSLC websites, but the entries for EthO and ODF Advocacy go to new pages that only repeat the description. Could those entries link directly to the GitHub pages for those OPs?

[2020-11-11 15:43] chet-ensign opened #23 "On Projects page, the filters reset if you go to a project and come back"
On the Projects page, I filter for Active projects. I then go to CACAO (for example). I then click the back arrow to return to the list. The filter has now been removed and I get all the projects again.

Also, you come back to the point you'd left so in order to reset the filter, you have to scroll all the way back to the top

The same thing happens for Technology Areas.

Labelling this as an enha

[2020-11-11 15:48] chet-ensign opened #24 "Apply consistent wording in project titles"
Reported by @CarolGeyer - also on the 'View All Projects' page...it appears only one TC has "TC" in its entry name (ESAT). Some of the OPs have "Open Project" in their names (OCA, EthO, OSLC) and some do not (ODF Advocacy, Baseline). We should agree on consistent naming.

[2020-11-11 15:56] chet-ensign opened #25 "Fix weird text wrapping on OAXAL"
The OAXAL entry for projects looks correct but the displayed view wraps all the words into a stack. Maybe word wrapping caused by the graphic? See if there is a way to fix it.

Also CSAF, UBL.

[2020-11-11 16:04] chet-ensign commented on #22
Added links to the GH projects for ODF and EthO

[2020-11-11 16:06] chet-ensign commented on #24
Removed 'Open Project' and 'TC' where they appeared.

[2020-11-11 16:07] chet-ensign commented on #24
I'll go ahead and close this ticket.

[2020-11-11 16:07] #24 closed, assigned to nobody

[2020-11-11 16:09] chet-ensign commented on #22
@carol OKs. Closing the ticket.

[2020-11-11 16:09] #22 closed, assigned to chet-ensign

[2020-11-11 16:24] chet-ensign commented on #25
Confirmed that it is the logo. I resized it down and now the text is fine. The logo looks fuzzy though so I'll try to improve it.

[2020-11-11 16:29] chet-ensign commented on #25
Obtained a new logo from Jane. Resized and reloaded. Looks much better.

[2020-11-11 16:34] chet-ensign commented on #25
Same fix to CSAF and UBL. You can scale the graphic down to 200 x whatever and save it. The image will be resized when you next look at the projects list.

[2020-11-11 16:34] chet-ensign commented on #25
With that, I'll close the ticket.

[2020-11-11 16:34] #25 closed, assigned to nobody

[2020-11-11 17:34] chet-ensign opened #26 "Contributors listed on site but not appearing under the dashboard"
Reported by @mbminto

Going to the Members page, Contributors are listed. See https://www.oasis-open.org/member-roster/

However, when I log on and go to Members under the Dashboard, the page only lists Foundational Sponsor and Sponsors - 32 in total.

Clicking on Member Types also shows 0 Contributors

Reported this to HM in bug issue #220

[2020-11-11 17:39] scottmcgrath commented on #26
I think I know why.... The members Dashboard manages the front page logo rotator.  The member page is a static page managed sperately for now.

That took me a while to figure out over the weekend (panic phase 2)

[2020-11-11 17:40] chet-ensign opened #27 "Fix the formatting of the Benefits Matrix page"
The Benefits Matrix at https://www.oasis-open.org/join/benefits-matrix/ is poorly formatted and difficult to read. Should be edited and cleaned up.

[2020-11-11 17:49] chet-ensign opened #28 "Links to sponsor types on Join page are broken"
On the Join page (https://www.oasis-open.org/join-3/), under Technical Committees, there are 3 bullets for Contributor, Sponsor, and Foundational Sponsor. The links under those terms don't work.

[2020-11-11 17:54] chet-ensign commented on #26
Oh. Yep, I see it now. I'll let MB know. Thx...

/chet

On Wed, Nov 11, 2020 at 12:39 PM Scott McGrath <notifications@github.com>
wrote:

--

/chet
----------------
Chet Ensign
Chief Technical Community Steward
OASIS: Advancing open source & open standards for the information society
http://www.oasis-open.org

Mobile: +1 201-341-1393

[2020-11-11 17:57] scottmcgrath commented on #26
The solution will be to build out a new memberr roster page to take advantage of the members is the dashboard and add all the contributors into the dashboard.  BUT, we need to confirm w HM that we can and how to repurpose the data in the dashboard

[2020-11-11 18:01] chet-ensign commented on #26
Than also noted that they aren't in the Member page now because then their logos would be displayed.

I explained to MB how to edit the page so I'll close this issue.

[2020-11-11 18:01] #26 closed, assigned to nobody

[2020-11-11 18:27] CarolGeyer opened #29 "Photos too large on News posts"
The images we use for News posts (Press releases, Project news) look great on the homepage and News frontpage, but they display much too large on the individual pages:

Examples:
https://www.oasis-open.org/2020/11/02/invitation-to-comment-on-exchange-header-envelope-xhe-v1-0-from-the-bdxr-tc-end-0/

https://www.oasis-open.org/2020/11/09/accenture-splunk-and-others-back-baseline-protocol-for-public

[2020-11-11 18:41] chet-ensign commented on #29
Carol, have a look at the second one. I scaled the image down. I can adjust the size as you like - still looks OK on the main page.

[2020-11-11 19:06] paul-knight opened #30 "Mail list archive display has lots of HTML cruft above the list of monthly archives"
Example: https://lists.oasis-open.org/archives/openc2/

If you scroll way down the page, you eventually come to the desired archive monthly listings.

[2020-11-11 19:11] CarolGeyer opened #31 "Crop for full-width images"
We need a ratio option added for images that appear full width on the top of main pages, to match the wireframe design. Currently the only options are too large. (Carol noted this on Slack and HM said another option was needed.)

[2020-11-11 19:12] chet-ensign commented on #8
Opened this on the HM issues list in https://github.com/humanmade/OASIS/issues/221

[2020-11-11 19:24] chet-ensign opened #32 "We have 2 competing pages with join/dues information"
This was spotted by @mbminto.

On the main page, under Get Involved, we have Join. That takes you to a page that describes the different programs (TC, etc.) and the dues associated with them. (https://www.oasis-open.org/join-3/)

If, however, you go to the Members page (https://www.oasis-open.org/member-roster/) and click on the OASIS Foundational Sponsors link, you go to page titled Categories an

[2020-11-11 19:28] chet-ensign commented on #30
This looks like another instance of style sheets not being applied on the Kavi side. I emailed the description to Jesse at Bitlancer.

[2020-11-11 19:34] chet-ensign commented on #32
Just saw that the categories-dues page is linked from the MA. Maybe other places as well. Guess we'll need to leave as is for now.

[2020-11-11 19:41] CarolGeyer opened #33 "Reduce size of video block"
The video block's currently fixed column width is too large.

Example: https://www.oasis-open.org/open-projects/

[2020-11-11 19:43] chet-ensign opened #34 "Links in Membership Agreement are broken"
This was reported by @guywmartin. Ani interested member noted that the following links in the MA section 2 are broken:

* http://www.oasis-open.org/who/intellectualproperty.php
* https://www.oasis-open.org/who/boardpolicies.php

These should both go to the policies page and, indeed, on the legacy site, they redirect there.

Not sure who has control over the MA or whether we can fix the redirect fr

[2020-11-11 20:02] chet-ensign commented on #28
Figured out how to add the anchor tags. Links fixed. Woof! Who's bad?

[2020-11-11 20:18] chet-ensign commented on #28
Fixed on both the Join page and the Dues pages. Closing the ticket.

[2020-11-11 20:18] #28 closed, assigned to nobody

[2020-11-11 20:21] chet-ensign commented on #30
Jesse notified us that the fix has to be done on the Kavi side. He's opening a ticket with them.

[2020-11-11 20:40] chet-ensign commented on #17
TC Process ToC is fixed.

[2020-11-11 22:22] chet-ensign opened #35 "Update logo on charter and document templates"
Templates for draft charters, committee drafts, etc. all need to be changed to use the new logo.

[2020-11-11 22:46] chet-ensign commented on #30
Jesse has opened a ticket with Higher Logic to update the stylesheet on their server.

[2020-11-11 22:50] chet-ensign commented on #8
Than provided a method for us to make the change:

Yup! On the Appearance > Menus screen here, just create a new "Custom Link" with the URL "/projects-committees/?filter-committee-status=active" and the Link text "Projects & Committees". Then drag it into the place where the existing "Projects & Committees" menu item is, and remove the old one.

This link will apply the active filter automatically

[2020-11-11 22:53] chet-ensign commented on #18
Jesse has made the fix. The correct link is on the TC pages now. Closing this ticket.

[2020-11-11 22:53] #18 closed, assigned to scottmcgrath

[2020-11-11 23:00] chet-ensign commented on #8
I made the edit to the 'View all projects' button on the home page and now that one works.

[2020-11-11 23:35] chet-ensign opened #36 "The preview on LinkedIn doesn't display a look at the web page"
Reported by Jason K. When we announced the site on LinkedIn and included the web address, the preview graphic is a gray box (screen shot attached) that just says "Participation instructions". Opened a bug report with HM. It is issue #222. Not sure if it is a bug though.

![image](https://user-images.githubusercontent.com/11619141/98876621-b18f3900-244c-11eb-8853-3389cbdab7b2.png)

[2020-11-12 15:13] chet-ensign commented on #21
Jesse looked and sent a reply message:

The sidebar content is there but its at the bottom of the page. The cause is some bad HTML in the content. I believe this content is configured on the Kavi side. See the attached screenshot. An end comment needs to be added where the arrow notes. Sorry for the small text but I was trying to capture enough context that you can find the specific line. Also, th

[2020-11-12 16:31] CarolGeyer commented on #14
I added Project entries for each of our 3 TAGs.

[2020-11-12 16:33] CarolGeyer commented on #8
Chet's fix works perfectly. Now we need to implement it on the 'View all Projects' page that links from the top and footer navs.

[2020-11-12 16:39] CarolGeyer opened #37 "OASIS in numbers"
The wireframe had a section on the About page, 'OASIS in numbers' -- four large numbers capturing the tally of standards, participants, communities, and continents. It's a nice graphic element, if we can determine four stats that communicate us well.

Note: bigger isn't necessarily better. If a stat reinforces our personal boutique quality, we may not want to avoid highlighting it--but we don't wa

[2020-11-12 16:41] CarolGeyer opened #38 "Edit text in panel above footer"
Change "The work of OASIS is supported by organizations from around the world. Membership levels include Foundational Sponsors, Sponsors, and Contributors." to "The work of OASIS is supported by organizations from around the world. Members include:"

[2020-11-12 16:42] chet-ensign opened #39 "On Open Matters page, reverse order of events, add headshot of guest"
Suggestion from Jason K.  "on the Open Matters page, I think they should be sorted reverse (most recent at the top...) also it would be nice to have a  preview images of the guest instead of it just saying "episode" (could take this from youtube screen grab)"

This is for https://www.oasis-open.org/open-matters-forum

This is a page we directly edit so totally in our control

[2020-11-12 16:43] CarolGeyer opened #40 "Floater CTA block"
On the wireframe, Sarah inserted a large CTA box in the middle of the Projects page ("Launching a project...We can help..."). We need to be able to add/edit that block--and use that design element on other pages as well.

[2020-11-12 17:06] scottmcgrath commented on #40
@Carol Geyer <carol.geyer@oasis-open.org> @Guy Martin
<guy.martin@oasis-open.org>   Does the marketing plan you are putting in
place intend to have a content strategy and have CTAs that are of the
"lower commitment type" less "contact us to talk" but more provide some
nominal; contact info to download the research paper, whitepaper etc.  I
look forward to developing CTAs that catch people before t

[2020-11-12 17:48] chet-ensign commented on #14
They look good! I think we can close this ticket.

[2020-11-12 17:48] #14 closed, assigned to nobody

[2020-11-12 17:51] chet-ensign commented on #38
Looks like this may be part of the footer. I don't know whether we can make this edit directly.

[2020-11-12 18:40] CarolGeyer opened #41 "Redirect OP website pages to new site"
Carol started a list for this: https://docs.google.com/spreadsheets/d/1tms3z85P_avXbD1kH3JPGoiGdFkNK2Hx6Y0S3eHGQeE/edit#gid=0

[2020-11-12 18:53] chet-ensign opened #42 "Fix links to documents in public facing announcements"
Reported by Pim. The announcements on the front page contain text URLs that don't link. That should be fixed.

[2020-11-12 18:57] scottmcgrath commented on #42
I can't find any links that don't work.  Example?

On Thu, Nov 12, 2020 at 1:53 PM Chet Ensign <notifications@github.com>
wrote:

--
Scott McGrath
COO
scott.mcgrath@oasis-open.org

Tel +1 781-425-5073 x202

Follow OASIS on:
LinkedIn:    http://linkd.in/OASISopen
Twitter:        http://twitter.com/OASISopen
Facebook:  http://facebook.com/oasis.open

[2020-11-12 18:59] chet-ensign commented on #42
In the CPPA public review announcement at https://www.oasis-open.org/2020/10/20/collaboration-protocol-profile-and-agreement-v3-0-from-ebcore-tc-approved-as-a-co/ - the URLs are text but aren't linked.

[2020-11-12 18:59] chet-ensign commented on #42
I cleaned up the formatting to make it readable but I didn't go back and relink the URLs.

That's why I suggest this for now only for the public-facing announcements.

[2020-11-12 20:20] chet-ensign opened #43 "Archive section for inactive content"
This is HM issue #40. It is currently in their OASIS column. Have we addressed this already?

As a leader of OASIS, I want to be able to view inactive pages on the site, so that links continue to live on.

Details
Much of the content on oasis-open.org is no longer active. However, the links needs to continue to exist. An archive section would be one approach that would keep content live, but "hidd

[2020-11-12 20:23] chet-ensign opened #44 "Manage incoming traffic to the OASIS server (was 'Proxy rewrites)"
This is HM issue #7. It is currently in their OASIS column. Have we addressed this already?

Goal
As a visitor to the OASIS website, I want all links to continue to work, including ones that happen transparently behind the scenes, so that I can continue to browse the site and access relevant pages/sections.

Details
This issue originated as "Proxy rewrites for Kavi, legacy content, etc". The exist

[2020-11-12 20:25] chet-ensign opened #45 "Add Testimonials block"
This is HM issue #42, in the Backlog column

Goal
As a visitor, I want to see testimonials about OASIS, so that I understand the impact OASIS has.

Details
The design has a testimonials section, with testimonials as cards in a slider. We need a block to allow OASIS to add this testimonial module to a page. The cards include a quote, name, title, affiliation, and affiliation logo. Since we have 'te

[2020-11-12 20:27] chet-ensign opened #46 "Update table block styles to match the design"
This is HM issue #35, in their Backlog column. Do we think we need more table styling options?
Goal
As a visitor, I want to see well-designed tables, so that I can easily understand information published by OASIS.

Details
Tables are a key element for OASIS, used on a lot of pages in a lot of different ways. It's important that these tables are well-formatted and well-designed, and can be easily a

[2020-11-12 20:29] chet-ensign opened #47 "Related articles on single news items"
This is HM issue #52, in their Backlog column. Labelled Should do.

Goal
As a visitor, I want to see related news and links when reading articles, so that I can learn more about a given topic. Surfacing content can keep users engaged with the site.

Details
For news articles, the design includes related news. We discussed that the news items would be related based on the category (or categories) f

[2020-11-12 20:32] chet-ensign opened #48 "Install ShareThis plugin"
This is HM issue #34, in their Backlog column. It is labelled Should do

Goal
As a visitor, I want to be able to easily share content to social media, so that I can tell others about OASIS.

Details
Sharing on the site to the most common social media platform (Twitter, Facebook, LinkedIn) should be easy and integrated into the site.

Notes
Open questions:

What platforms should be enabled? Twitter

[2020-11-12 20:52] jane-harnad opened #49 "Archive link is missing at the end of the event calendar"
A new category called 'open matters' was added, but doesn't appear in the event type search option. Can someone look into it? Also, the archive link is missing (at the end of the calendar).

[2020-11-12 22:22] chet-ensign opened #50 "Open Matters event type doesn't appear in the drop down on the web page"
Reported by @jharnad

A new category called 'open matters' was added, but doesn't appear in the event type search option on the Events webpage.

[2020-11-12 22:24] chet-ensign commented on #50
This does look like a bug. There is an Open Matters event on the page that is properly tagged.

[2020-11-12 22:28] chet-ensign commented on #49
I just checked this and edited the description. The link to View event archive is at the bottom of the page. However, clicking it does not take you to an archive. It simply jumps you to the top of the page.

[2020-11-12 23:14] scottmcgrath commented on #49
The link is supposed to go to https://www.oasis-open.org/presentations/
I have fixed the link.
noting here, though it may never be seen again - how I found the events page that is used as the events "archive" --IN THIS CONTEXT archive page means the rollup page of all the posts.  In Dashboard/Settings/Reading I found the name of the archive page.  I fixed the link on that page.  For reasons unknow

[2020-11-12 23:14] #49 closed, assigned to nobody

[2020-11-13 14:15] chet-ensign opened #51 "Build the ticketing system, revised to support OPs as well as TCs, on the new website"
The current ticketing system lives at https://www-legacy.oasis-open.org/resources/tc-admin-requests. It needs to be rebuilt on the new website and enhanced to support both Open Projects and TCs, before the legacy system can be shut down.

[2020-11-13 15:00] chet-ensign opened #52 "Be consistent in use of name as 'OASIS Open'"
Reported by Dr. Carol. On the About page, under History, could we insert the word OPEN each time OASIS appears?  Scott has previously insisted our name is OASIS OPEN from its early days - we should be consistent please.

[2020-11-13 15:22] chet-ensign commented on #36
I closed this ticket on the HM side & I'll close here. I'm not sure what changed but the preview pane on LI now has the cross symbol from the fist page on it and says "Front page." Not perfect but better and acceptable. Closing this ticket.

[2020-11-13 15:22] #36 closed, assigned to nobody

[2020-11-13 15:25] chet-ensign commented on #50
Also see that Partner events is not listed as a type even though many of those events are listed.

[2020-11-13 15:27] scottmcgrath commented on #36
What happened to make this happen?  The page was finally crawled and
indexed by LI - or whatever service they use.  Of course, our opening the
site to indexing helped too ;-))

On Fri, Nov 13, 2020 at 10:23 AM Chet Ensign <notifications@github.com>
wrote:

--
Scott McGrath
COO
scott.mcgrath@oasis-open.org

Tel +1 781-425-5073 x202

Follow OASIS on:
LinkedIn:    http://linkd.in/OASISopen
Twitter:

[2020-11-13 15:33] chet-ensign commented on #50
Opened this one with HM as https://github.com/humanmade/OASIS/issues/225

[2020-11-13 16:23] chet-ensign commented on #44
@scottmcgrath - I'm prepping for the review today at noon. Just saw this one. HM issue #7. Seems to me that we can close this one, correct? This was an early issue before we knew the proxy would work and now we know, if at the loss of some hair, that it works ok. Shall I check with HM  about closing it?

[2020-11-13 16:23] scottmcgrath commented on #50
I added comments to HM ticket to help fix it.

[2020-11-13 16:27] chet-ensign commented on #50
Saw that! Thanks.

On Fri, Nov 13, 2020 at 11:23 AM Scott McGrath <notifications@github.com>
wrote:

--

/chet
----------------
Chet Ensign
Chief Technical Community Steward
+1 201-341-1393

[2020-11-13 16:30] chet-ensign commented on #36
Ah! That's the answer! Thanks!

On Fri, Nov 13, 2020 at 10:27 AM Scott McGrath <notifications@github.com>
wrote:

--

/chet
----------------
Chet Ensign
Chief Technical Community Steward
+1 201-341-1393

[2020-11-13 16:31] scottmcgrath opened #53 "Events page sort by date seems wrong for past events"
I see the event page default shows upcoming event in chronological order - most current to most future events.  That seems right.   BUT, when looking at the calendar of past events, using the same chronological order puts the oldest event on top and the most recently ended events at the bottom - of a list thta will get very long over time.

Can the Past events filter switch the event ordering to r

[2020-11-13 17:00] CarolGeyer commented on #48
Share platforms I see commonly are LinkedIn, Twitter, Facebook, and Email. All those would be great. If we have to choose, LinkedIn and Twitter are top.

[2020-11-13 19:23] scottmcgrath commented on #34
also missing  http://www.oasis-open.org/who/contactus.php  which appears later in MA.

I will fix the redirect on these, as they are links named in the 2005 MA form and were previously redirected.  when we rewrite the MA, we should point to the current links directly.

[2020-11-13 20:01] chet-ensign commented on #34
Thanks Scott.

[2020-11-13 21:10] #50 closed, assigned to nobody

[2020-11-13 21:16] chet-ensign commented on #35
Paul is working on this.

[2020-11-13 21:18] chet-ensign commented on #23
Discussed on 11/13. Scott noted that since this is the result of clicking the back button, it likely won't be fixed.

[2020-11-13 21:21] chet-ensign commented on #20
Discussed on 11/13. Carol noted that it needs updating overall (e.g. liaisons)

[2020-11-13 21:27] chet-ensign commented on #45
Discussed 11/13. Agreed that Carol first needs to collect new testimonials. So this is low priority for now.

[2020-11-13 21:34] chet-ensign commented on #8
This issue is complete and can be closed.

[2020-11-13 21:34] #8 closed, assigned to nobody

[2020-11-13 21:46] chet-ensign commented on #13
I was mistaken. The Google search is working this way. Other problems were noted with search results and need to be opened in a different ticket. This one, however, can be closed.

[2020-11-13 21:46] #13 closed, assigned to nobody

[2020-11-13 21:57] chet-ensign commented on #31
This appears to match https://github.com/humanmade/OASIS/issues/193 - Add ability to have full-width featured image on pages. We've prioritized this to address in the next sprint.

[2020-11-13 21:58] chet-ensign commented on #37
This appears to be the same issue as "Build out generic page design to test that all types of content can be created and add styles as needed" - https://github.com/humanmade/OASIS/issues/192

[2020-11-13 22:04] chet-ensign commented on #31
Discussed on 11/13. Agreed that we should prioritize this for next round of development.

[2020-11-13 22:09] chet-ensign commented on #47
Discussed on 11/13. Agreed that this can be low priority.

[2020-11-13 22:23] chet-ensign opened #54 "Install SEO plugin"
This is HM issue #25 - https://github.com/humanmade/OASIS/issues/25

[2020-11-13 22:27] chet-ensign opened #55 "Add a sitemap / sitemap generating plugin to the site"
This is HM issue #212.

[2020-11-13 22:30] chet-ensign commented on #38
Discussed on 11/13. We want this eventually but agree that it is not a priority for now.

[2020-11-13 22:32] chet-ensign commented on #2
Discussed on 11/13. While this is a capability we want, we don't think it is a development priority for now.

[2020-11-13 22:34] chet-ensign commented on #3
Discussed on 11/13. While this is a capability we want, we don't think it is a development priority for now.

[2020-11-13 22:36] chet-ensign commented on #6
Discussed on 11/13. We don't think it is a development priority for now.

[2020-11-13 22:38] chet-ensign commented on #9
Discussed on 11/13. We don't think it is a development priority for now.

[2020-11-13 22:45] chet-ensign commented on #33
Opened as https://github.com/humanmade/OASIS/issues/228 for HM

[2020-11-13 23:20] chet-ensign opened #56 "Add a section for staff blogs / thought leadership pieces"
Added by @guywmartin - We should add a section to the website where we can feature staff blogs, white papers, etc.

[2020-11-13 23:22] chet-ensign opened #57 "Test results of search"
Reported by @guywmartin - the Google search works over the site. Guy noted that some search results came back with 404 errors. While that is not the fault of the search itself, we should do some more testing in search to see if it happens more often and suggests a bigger problem.

[2020-11-13 23:24] chet-ensign opened #58 "Determine what we need to be trained on"
Raised by @scottmcgrath - Part of the HM retainer is to cover training us on the website tools. We should think about the topics to ask to be trained on. No sense them spending time training us on things we already know how to do.

[2020-11-14 03:56] scottmcgrath commented on #34
fixed

[2020-11-14 03:56] #34 closed, assigned to scottmcgrath

[2020-11-16 14:41] chet-ensign opened #59 "Create a table listing who has editorial access to each section of the website"
Raised by @jamienewlaw - How do I get WP pages fixed by going to the right party?  Is there a list of who has edit rights over the various pages?  E.g., Geyer owns press release pages, Chet owns standards pages, whatever.  So if my bio page has an embarrassing typo -- it doesn't say "Jamie works for Linux Foundation" -- but if it did

[2020-11-16 18:18] chet-ensign commented on #29
Discussed on sprint planning call on 11/16/2020. Joleen is going to try setting up WP to crop images to the correct size. We can then adjust as needed.

[2020-11-16 18:19] chet-ensign commented on #31
See update for #29

[2020-11-16 18:21] chet-ensign commented on #33
Discussed on sprint planning call 11/16/2020. Joleen asking for more info. Looks like the video is set to the column width. Only thing that looks off to her are the top and bottom black bars which are a Youtube feature and not under our control.

Scott will discuss w/ Carol and refine directions to HM.

[2020-11-16 18:25] chet-ensign commented on #55
Discussed on sprint planning call 11/16/2020. Joleen noted that Yost has the ability to do this as well as the SEO ranking. They'll get Yost installed and then we'll be responsible for setting the configurations. Joleen says there are lots of options.

[2020-11-16 18:27] chet-ensign commented on #58
Per the spring planning call this morning, I think the SEO product Yost is going to be something we need to learn.

[2020-11-16 20:08] chet-ensign opened #60 "Obligated Members files are missing"
Looking at the committee pages, I see that clicking on Obligated Members results in the message "Obligation file not found." See for example https://www.oasis-open.org/committees/sca-assembly/obligation.php

@scottmcgrath, is this a Bitlancer thing to resolve?

[2020-11-16 21:28] chet-ensign opened #61 "In IPR Policy, reverse the order of the modes to put non-assertion first"
Suggestion by @CarolGeyer  as one step in reversing the perception that OASIS is a RAND organization.

[2020-11-16 22:48] guywmartin opened #62 "Yellow Alert Banner (with COVID) currently doesn't go anywhere"
The first time you visit the new site, the yellow 'COVID information' banner shows up, and clicking on it just refreshes the home page - it should go to this page: https://www.oasis-open.org/covid/ (that page currently gives a 404 - but I think we migrated the content somewhere).

We should disable this banner for now, and also fix/link the COVID page back in.

[2020-11-16 22:57] guywmartin opened #63 "Add in link to OASIS SWAG store"
We should add in a link to the new OASIS SWAG store: https://www.redbubble.com/people/oasisopen/works/46186888 to the site - most likely somewhere in the 'About' section of menus.

[2020-11-16 23:40] scottmcgrath commented on #40
Hey Scott,

It’s a good question, and one I don’t know if I have the answer to yet.

However, it does remind me that I need to reach out to the potential marketing/PR contact I have that was going to get us a final quote/timeline on moving forward in 2021.

I’ll ping him now.

Thanks.

Guy Martin
Executive Director
OASIS Open

+1 408-489-1681 <tel:+1 408-489-1681>
	www.oasis-open.org <https://www.

[2020-11-17 14:28] chet-ensign commented on #61
I opened this with the Board Governance committee. See https://issues.oasis-open.org/browse/OBGC-43

[2020-11-17 15:15] chet-ensign commented on #42
I fixed formatting, metadata, and links in the announcements on the home page and the announcements that come up on the first page when you click "Read more news." Won't go back to earlier ones unless someone notes the article's formatting is off.
The main problem with the formatting is that all line breaks are gone and the URLs are just text. However, it would be a great deal of work for little b

[2020-11-17 15:15] #42 closed, assigned to chet-ensign

[2020-11-17 15:41] schurbet opened #64 "Once you are in kavi, cannot get back to public pages. When you click on OASIS logo, nothing happens."

[2020-11-17 15:43] schurbet opened #65 "Yellow band announcing COVID response doesn't link to anything."

[2020-11-17 15:47] chet-ensign commented on #64
Confirmed. The OASIS logo from a Kavi page is not linked to anything. Your only way to return to the public pages is by typing in the www url from scratch.

[2020-11-17 15:48] chet-ensign commented on #65
Thanks for the catch. This is a duplicate to ticket number #62

[2020-11-17 15:55] chet-ensign commented on #58
Need to learn how to use the forms app.

[2020-11-17 18:21] chet-ensign opened #66 "Legacy urls to news announcements failing"
Problem caught by former member of eTMF TC (Laurie Pattison). Links to historical news announcements about the eTMF TC are broken. See, for example, https://www.oasis-open.org/news/announcements/electronic-trial-master-file-etmf-specification-v1-0-published-by-the-etmf-tc. Changing the link to www-legacy (https://www-legacy.oasis-open.org/news/announcements/electronic-trial-master-file-etmf-specif

[2020-11-17 18:25] chet-ensign commented on #66
Opened HM issue https://github.com/humanmade/OASIS/issues/231

[2020-11-17 18:40] chet-ensign opened #67 "Create project support request forms to mirror the versions from Drupal"
The TC support request forms from Drupal need to be reengineered on the WP site and generalized to work for OPs as well. HM has installed the forms package.

[2020-11-17 19:07] chet-ensign opened #68 "Fix tables in Committee Operations Process policy"
Tables in the Committee Operations Process did not convert. They are all one vertical line. Fix them up.

[2020-11-17 19:11] chet-ensign opened #69 "On Policies page, Open Repository Guidelines and Procedures is missing"
On the Policies page, Open Repository Guidelines and Procedures at https://www.oasis-open.org/policies-guidelines/open-repositories comes back "Nothing found." Editing the link to point to the legacy site (https://www-legacy.oasis-open.org/policies-guidelines/open-repositories) successfully retrieves the document.

I will open a bug report for HM as well.

[2020-11-17 19:13] chet-ensign commented on #69
Opened HM issue https://github.com/humanmade/OASIS/issues/232

[2020-11-17 19:20] chet-ensign commented on #17
Went through all documents on the Policies page. Fixed unformatted ToCs in several. Discovered that there are other formatting problems in the documents that should be addressed. Also found Open Repo policy missing and opened a ticket for that.

I'll close this ticket.

[2020-11-17 19:20] #17 closed, assigned to chet-ensign

[2020-11-17 19:21] chet-ensign opened #70 "Check formatting for all documents on the Policies page"
Noted random layout problems while fixing ToCs. All policy docs should be reviewed and, where needed, cleaned up.

[2020-11-17 23:11] chet-ensign commented on #67
This duplicates #51 . I will close this ticket.

[2020-11-17 23:11] #67 closed, assigned to nobody

[2020-11-18 14:11] chet-ensign opened #71 "Formatting on TC FAQs is missing"
Noted on the XLIFF and XACML committee pages. The link to the FAQ on the right side retrieves the page but without formatting. See https://www.oasis-open.org/committees/xacml/faq.php.

Looks like a similar problem as the mail archive. I will check with Jesse/Bitlancer.

[2020-11-18 14:54] CarolGeyer opened #72 "Consider new format for Members page"
Our current page has column and font formatting issues, requires lots of scrolling, and misses the opportunity to display Sponsor logos. Maybe we consider a tabbed approach like this one: https://www.eclipse.org/membership/exploreMembership.php

[2020-11-18 14:57] chet-ensign opened #73 "Simplify and publish progress of Committee Specs"
Suggestion from Bret Jordan:

I keep thinking about our naming and numbering systems we have here at OASIS and how we could make them easier. I wonder if all CSDs need to have a vote, or just the ones that will become public review docs or CSs.

It would be great IMHO if we had a document landing page that listed each draft that was released and then just "flagged" the ones that were approved by t

[2020-11-18 15:42] chet-ensign commented on #35
The Google Doc charter templates are updated to use the new logo and the color scheme. Paul has updated the templates used to give project committees starter docs.

[2020-11-18 21:05] chet-ensign opened #74 "Historical copies of OASIS Defined Terms is not found - breaking link in a published spec"
Caught by Paul Knight in publishing TOSCA v2.0 CSD03:

 One more problem, which is not in the document, but in our website: the lnk for OASIS Defined Terms (in "Conformance") is now broken. - https://www.oasis-open.org/policies-guidelines/oasis-defined-terms-2017-05-26#dConformanceClause is not linked.

Changing the link to https://www-legacy.oasis-open.org/policies-guidelines/oasis-defined-terms-

[2020-11-18 21:05] chet-ensign commented on #74
Opened https://github.com/humanmade/OASIS/issues/236

[2020-11-18 21:09] chet-ensign commented on #35
Paul has opened a TC Admin JIRA ticket for in depth overhauling of our templates to make them more 'repo-driven development' ready. https://issues.oasis-open.org/browse/TCADMIN-3836

[2020-11-18 21:11] chet-ensign commented on #35
Since our basic set of templates for charters and work products have been updated sufficiently to support the initial switch over of the branding, I'm going to close this ticket. We're fine with what we've got. Paul's work on the templates will only make things better.

[2020-11-18 21:11] #35 closed, assigned to chet-ensign, CarolGeyer

[2020-11-18 21:17] paul-knight opened #75 "Missing redirection of references to older "Defined Terms" document"
Does not work:
- https://www.oasis-open.org/policies-guidelines/oasis-defined-terms-2017-05-26#dConformanceClause

This one works:
- https://www.oasis-open.org/policies-guidelines/oasis-defined-terms-2018-05-22#dConformanceClause

I'm pretty sure that the previous website had something to redirect the older links to the new revision(s). This will also need to handle future revisions.

[2020-11-18 21:47] chet-ensign commented on #71
Jesse reported it fixed. The issue was on our side. I confirmed that the FAQs are now formatted. Closing this ticket.

[2020-11-18 21:47] #71 closed, assigned to nobody

[2020-11-18 21:48] chet-ensign commented on #19
Confirmed that this has been fixed. Closing the ticket.

[2020-11-18 21:48] #19 closed, assigned to nobody

[2020-11-18 21:50] chet-ensign commented on #75
Thanks Paul. This is also covered by #74

[2020-11-18 22:33] chet-ensign opened #76 "Update policy documents with changes approved by OASIS Board"
At its last meeting, the Board approved making the changes to the policy documents effective Dec. 1st. So time is of the essence.

In particular, I need to confirm with HM how to produce the prior historical versions of the policies and make sure they are listed on the published policy pages.

[2020-11-18 22:45] chet-ensign commented on #76
Looking at the TC Process, there may be some clean up of the historical versions - not the actual content, but the header text where some dates don't seem to match.

[2020-11-18 22:55] chet-ensign commented on #76
Requested support from HM to go over how to create the archive, edit the new version, etc.

[2020-11-18 23:00] chet-ensign commented on #74
Current site has no historical versions of Defined Terms stored but I find copies on the legacy system. I'll check with HM to learn how I can manually bring those over to the new system and link them in.

[2020-11-18 23:02] chet-ensign opened #77 "Check WP dashboard for historical versions of all key policies"
Issue #74 and #75 suggest that not all versioned policies were successfully migrated. Check each key policy to make sure the expected historical versions are present on the system.

[2020-11-18 23:05] chet-ensign commented on #76
Address issue #68 as part of this work.

[2020-11-18 23:42] chet-ensign commented on #21
I added the fix as Jesse suggested. Will wait for the site to replicate through to see if it works.

[2020-11-19 15:32] chet-ensign commented on #21
The fix worked. It was an open <!-- tag in the notes field that screwed up the rest of the info on the site. The page displays as expected now so I'm closing this ticket.

[2020-11-19 15:32] #21 closed, assigned to nobody

[2020-11-19 16:37] chet-ensign commented on #66
I just noticed the following and added it to the HM ticket:

Oh! Hmm. The problem doesn't appear to be that the news articles did not come over but rather than they have different URLs and the old link doesn't resolve.

Example: I do a search in Google restricted to www.oasis-open.org/news and I find this link to the announcement of the formation of the Emergency Management TC: https://www.oasis-o

[2020-11-19 20:33] paul-knight opened #78 "Link for mail list archive help broken; needs to be directed to "legacy""
Maybe this can be combined with another issue...

In the email list archives, there is a link to "OASIS Mailing List Help" which is hyperlinked to:
- http://www.oasis-open.org/maillists/guidelines.php#searchingarchives

It will work if it is redirected to:
- http://www-legacy.oasis-open.org/maillists/guidelines.php#searchingarchives

[2020-11-19 20:42] CarolGeyer opened #79 "Adjust/replace photos for Board, staff pages"
Not a priority, but we do need to clean up these photo pages so photos are clear and more uniform in appearance. We don't need to have the same backgrounds, but faces should be the same relative sizes.

[2020-11-19 20:46] CarolGeyer opened #80 "Revise and update Distinguished Contributors page"
The order the photos are displaying in isn't clear--it's not alpha.

That said, alpha may not make sense now that we have so many DCs. We should consider the best way to display--perhaps the most recent year's inductees first, then an alpha list of the others?

Also, many of the DC's bios are out-of-date. We may want to remove the bios altogether (people change jobs so frequently) and instead link

[2020-11-19 21:28] CarolGeyer opened #81 "Publish 'Contact us' page"
Carol updated /offices. Scott to review, edit, perhaps change URL, and add link to footer nav.

[2020-11-19 21:42] chet-ensign opened #82 "Are we reproducing the mail lists archive page on the new site?"
This refers to https://lists.oasis-open.org/archives/. The link looks like it is going to the legacy site. Is this page intended to be available from the new site?

Question for @scottmcgrath

[2020-11-19 21:47] scottmcgrath commented on #81
page published and linked in Useful links menu.

[2020-11-19 21:47] #81 closed, assigned to scottmcgrath

[2020-11-19 21:48] scottmcgrath opened #83 "Create redirect for /offices to /contact"
When HM has the redirect plugin installed, this will be an easy fix to update the old /offices page url

[2020-11-20 14:14] chet-ensign commented on #80
I like the idea of linking previous year's winners to LI where possible. That's a great way to keep them refreshed. Or at least give the sense that they are. Also, some people might want to connect with them and that'd b a good pathway.

[2020-11-20 15:12] chet-ensign commented on #31
HM addressed this issue in sprint 6, Featured images need some new cropped sizes (#215) and Add ability to have full-width featured image on pages (#193). @CarolGeyer, can you take a look at the Projects page and the Open Projects Program page and confirm that they meet your requirement?

[2020-11-20 15:14] chet-ensign commented on #29
HM addressed this in sprint 6. Featured images need some new cropped sizes (#215). It looks correct to me. @CarolGeyer, can you check and confirm?

[2020-11-20 15:19] chet-ensign commented on #69
I closed the HM issue. The post for this policy exists but it has no content. Having learned how to handle policies during the sprint call yesterday, the fastest solution is for me to pull the content over from the legacy site myself.

[2020-11-20 15:21] chet-ensign commented on #66
We discussed this on the sprint call w/ HM yesterday. Agreed that we'll hold the fix to a subsequent sprint.

[2020-11-20 15:24] chet-ensign commented on #30
Part way there. Higher Logic applied the style sheet but there are still broken elements on the page. Notified Jesse.

[2020-11-20 15:31] chet-ensign commented on #60
Sent a description of the bug to Jesse to find out whether this is on our side or whether I should open this as a bug ticket for HM.

[2020-11-20 16:08] chet-ensign opened #84 "Where is the link to 'set up username and password' for a new member on new website"
Raised by @schurbet:

"Where is the 'set up username and password' link on new website? - for an individual from a member company that has never set up UN and PW before. That used to be an option from join menu

[2020-11-20 17:24] chet-ensign commented on #64
I contacted Jesse to ask if this can be made to work in Kavi.

[2020-11-20 19:43] chet-ensign commented on #4
Since we have tagged this for Sprint 7 on the HM side, I'll remove it here so we don't have a duplicate.

[2020-11-20 19:43] #4 closed, assigned to nobody

[2020-11-20 19:44] chet-ensign commented on #5
Discussed this in review of HM issues. Removing from here so that there won't be a duplicate.

[2020-11-20 19:44] #5 closed, assigned to nobody

[2020-11-20 19:46] chet-ensign opened #85 "Configure the SEO and Sharethis plugins"
Now that Yoast, the SEO plugin, is installed, we need to learn how to use it and start configuring it to put it to work.

[2020-11-20 19:47] chet-ensign opened #86 "Look at how the website renders on mobile devices"
Do a focused review of the rendering on mobile to determine if any changes are needed.

[2020-11-20 19:48] chet-ensign opened #87 "Fix the formatting of the dues structures on the Join page"
The dues structure for TCs is a good looking table. The OP dues structure should be changed to match.

[2020-11-20 21:36] chet-ensign commented on #64
Checked with Jesse. He suggests opening a support ticket with Higher Logic. Will do that on Monday.

[2020-11-20 21:43] chet-ensign commented on #60
Jesse deployed a fix. Obligated members are now showing.

[2020-11-20 21:43] #60 closed, assigned to nobody

[2020-11-20 21:49] chet-ensign commented on #54
Joeleen reports that the SEO plugin is installed on staging. I checked and it is running there. I'll close this ticket.

[2020-11-20 21:49] #54 closed, assigned to nobody

[2020-11-20 21:54] chet-ensign commented on #48
Joeleen reports that the ShareThis plugin is installed on staging. I checked and it is running there. I'll close this ticket.

[2020-11-20 21:54] #48 closed, assigned to nobody

[2020-11-20 22:43] chet-ensign commented on #48
I confirmed that it works. Easy to configure.

[2020-11-23 16:07] chet-ensign commented on #16
I just confirmed that all active projects have descriptions and technology area metadata applied. Most of the inactive TCs do not. I'm going to change this ticket to indicate "active" and close it and open a second for "inactive" and leave that open. It will be a couple of days work for someone to add all that info and I think it is lower priority than getting the Standards tagged.

[2020-11-23 16:13] chet-ensign opened #88 "Add excerpts and Technology Area tags to inactive Projects"
Current list of inactive/completed projects just shows name and acronym or logo for projects.

Adding a short excerpt would let readers know briefly what the project did. Technology Area tags would enable filtering.

We should also add 'Completed' to the excerpt

This is marked low priority as standards tagging should take precedence. This is related to issue #16

[2020-11-23 16:14] chet-ensign commented on #16
Opened issue #88 to track updating inactive projects.

[2020-11-23 16:14] #16 closed, assigned to nobody

[2020-11-23 16:51] chet-ensign commented on #64
I sent a query to support at Higher Logic:

Is it possible to link the OASIS Open logo at the top of a Workspace back to www.oasis-open.org?

Good morning, Stephanie,

One of our members asked why the OASIS logo at the top of technical committee's Workspace does not link back to the main website. See, for example, https://www.oasis-open.org/apps/org/workgroup/cacao/. The OASIS logo is not linked a

[2020-11-23 18:03] chet-ensign opened #89 "Make editorial updates to the CLA forms and descriptions"
Raised by @CarolGeyer and @jamienewlaw

The acronyms, 'I-CLA' and 'E-CLA', aren't used in the OP Rules doc. Consequently, the page doesn't appear in searches on those terms. @ChetEiii @Jamie --can we insert the acronyms in the OP Rules without asking for Board review/approval?

before we touch those texts, we should probably briefly look in with @scott-mcgrath  to the ongoing Drupal>WP CLA adaptat

[2020-11-23 18:07] chet-ensign opened #90 "Harmonize / normalize / rationalize the documentation, especially OP related documentation"
Raised by @chet-ensign in Slack exchange:

Is our plan to keep the OP Handbook on our main website and also publish that content in chunks on in our Github GUIDES section?
I hate to maintain content in two places, but having the Handbook on the main site is useful for searches on terms like "E-CLA".

Chet Ensign III  11:21 AM
We need to have a pow-wow on documentation in general. I feel like our d

[2020-11-23 22:38] chet-ensign opened #91 "Find and link the TC Open Repo FAQ to the Open Repo Policies document"
The link simply goes to FAQ. That resolves to the Translation FAQ. The Open Repo FAQ appears to be missing at the moment.

[2020-11-23 22:41] chet-ensign commented on #69
The problem was that the page had the wrong URL slug. Fixed that and fixed all the links in the policy. Some other minor glitches to fix but I'll close this ticket as sone.

[2020-11-23 22:41] #69 closed, assigned to chet-ensign

[2020-11-23 22:41] chet-ensign commented on #15
Mary Beth will be assisting with this. I showed her the steps to take to update the standards posts.

[2020-11-24 18:38] chet-ensign opened #92 "Ask HM for enhancements to design options for tables"

[2020-11-24 18:44] chet-ensign commented on #62
Either link it properly or disable it.

[2020-11-24 18:49] chet-ensign commented on #59
This is working now.

[2020-11-24 18:51] chet-ensign commented on #53
Add to next HM Sprint

[2020-11-24 18:56] chet-ensign commented on #38
Guy says let's go ahead and make the changes  to (a) the wording as laid out  above and (b) the OP sponsors on the rotating banner.

[2020-11-24 19:05] #29 closed, assigned to nobody

[2020-11-24 19:05] #31 closed, assigned to nobody

[2020-11-24 19:05] #87 closed, assigned to CarolGeyer

[2020-11-24 19:06] chet-ensign commented on #88
Decided this is not needed on call on 11/24/2020

[2020-11-24 19:07] #33 closed, assigned to nobody

[2020-11-24 19:08] #88 closed, assigned to nobody

[2020-11-24 19:08] #86 closed, assigned to nobody

[2020-11-24 19:10] chet-ensign commented on #45
Removing from our board - this is on HM's list

[2020-11-24 19:10] #45 closed, assigned to nobody

[2020-11-24 19:12] chet-ensign commented on #46
Discussed this at 11/24/2020 meeting. Carol/Guy consider this important. Check w/ Furthermore on designs.

[2020-11-24 19:13] chet-ensign commented on #47
Taking this off our board. This is on HM's issues list.

[2020-11-24 19:13] #47 closed, assigned to nobody

[2020-11-24 19:14] chet-ensign commented on #57
This was in response to a 404. Search is working as expected. Closing this ticket.

[2020-11-24 19:14] #57 closed, assigned to nobody

[2020-11-24 19:14] chet-ensign commented on #9
Taking this off our board. This is on HM's issues list.

[2020-11-24 19:14] #9 closed, assigned to nobody

[2020-11-24 19:15] chet-ensign commented on #11
Removing this from our board. This is on HM's list.

[2020-11-24 19:15] #11 closed, assigned to nobody

[2020-11-24 19:16] chet-ensign commented on #6
Removing this from our board. This is on HM's list.

[2020-11-24 19:16] #6 closed, assigned to nobody

[2020-11-24 19:16] chet-ensign commented on #10
Removing this from our board. This is on HM's list.

[2020-11-24 19:16] #10 closed, assigned to nobody

[2020-11-24 19:17] chet-ensign commented on #3
Removing this from our board. This is on HM's list.

[2020-11-24 19:17] #3 closed, assigned to nobody

[2020-11-24 19:18] chet-ensign commented on #7
Removing this from our board. This is on HM's list.

[2020-11-24 19:18] #7 closed, assigned to nobody

[2020-11-24 20:50] chet-ensign commented on #64
Higher Logic issue request (181727)

[2020-11-24 22:01] CarolGeyer commented on #80
Here's my proposal:

[ ]  Chet asks HM to fix the DC page so the bios display in alpha order by last name. (that's a bug)

[ ] Whenever Mary Beth has time, she starts editing the bios of each DC to a) remove their Job titles (so only their names will appear on the main page) and b) retain the first sentence of their bios (which says the year they were inducted) and replace the rest with a link to

[2020-11-24 22:31] chet-ensign commented on #80
This sounds good to me.

[2020-11-25 15:28] CarolGeyer commented on #72
SHORT TERM FIXES DISCUSSED BY CG & SM on 11/25:

- CG to edit top paragraph (vague for now--can't yet say OP Sponsors are members) and add "TC" to subheads.
- SM to ask HM to convert Contributor list into 3-column list (not table) and fix third column of Sponsors (which looks fine now but is html).
- SM to provide CG with current list of OP Sponsors, CG to add them in new section at the bottom of

[2020-11-25 16:14] scottmcgrath commented on #62
How to fix/edit/update announcement block instructions are detailed in HM issues - simple story - edit homepage - using announcement block style.

I've updated the announcement to encourage registration for awards ceremony.

[2020-11-25 16:14] #62 closed, assigned to scottmcgrath

[2020-11-25 16:48] scottmcgrath commented on #85
ShareThis is configured to appear at top of posts

[2020-11-25 16:51] chet-ensign commented on #85
Looks great.

[2020-11-25 18:15] scottmcgrath commented on #85
SEO config for Yoast is done

[2020-11-25 18:15] #85 closed, assigned to scottmcgrath, chet-ensign

[2020-11-25 18:19] scottmcgrath commented on #65
updated to new announcement

[2020-11-25 18:19] #65 closed, assigned to nobody

[2020-11-25 18:27] scottmcgrath commented on #84
The problem with solving this - there are several meanings to "user"  IF the question is "Where do I send someone who 1. is an employee of an existing member  and 2. wants to create an account in kavi for TC related activities?"  Same as always: https://www.oasis-open.org/kmembership_info/person_signup  One would find that link after starting at the link "TC Workspace login" which takes you to the

[2020-11-25 22:14] CarolGeyer commented on #92
How can we adjust tables so they don't span the full page width?

Example: we have two tables on https://www.oasis-open.org/join-3/ ; the bottom table (Open Project Dues) especially looks too wide. Would prefer to have the table match the paragraph width.

When in Edit mode, I can set the table alignment to be centered, which appears to do what we want, but when I Update the page, it defaults back

[2020-11-25 22:38] CarolGeyer opened #93 "Add YouTube icon to footer"
https://www.youtube.com/c/Oasis-openOrg

[2020-11-25 22:57] chet-ensign commented on #76
TC Process, Committee Operations and Defined Terms are now updated on website.  Will announce on Monday. Need to check links, link the chain of historical versions, fix typos reported in comments, and update the Naming Directives.

[2020-11-25 23:02] chet-ensign commented on #92
I learned a trick today. Not that this will be everybody's groove, but you can directly edit the tables in HTML. I copied the HTML code for the tables laying out roles for TC and OP members and pasted it into the Committee Operations document in HTML mode. Both tables had failed to come over and this was a quick, easy fix. We can probably do table enhancements this way if we want.

[2020-11-30 14:59] chet-ensign opened #94 "Display list of terms in OASIS Defined Terms using alphabetic characters, not numbers"
Defined Terms were previously listed in alphabetic order (a, b, c, aa, ab, ac). To maintain continuity, redefine the current style to be alphabetic.

[2020-11-30 15:04] chet-ensign commented on #94
Setting the list to <ol type="a"> does not change the appearance. Presumably overridden by the style sheet.

[2020-11-30 15:38] chet-ensign commented on #68
Easy fix! I switched to edit the page in HTML, then copied the tables from the legacy policy and pasted them into place. Worked like a charm. We may want to see whether we can use direct table formatting to accomplish the goal of better-looking tables.

I'm going to close this ticket.

[2020-11-30 15:38] #68 closed, assigned to chet-ensign

[2020-11-30 15:50] chet-ensign commented on #76
The changes have been announced to OASIS members. See https://lists.oasis-open.org/archives/members/202011/msg00011.html

Closing this ticket.

[2020-11-30 15:50] #76 closed, assigned to chet-ensign

[2020-11-30 18:53] paul-knight opened #95 "Define updated model document and templates for OASIS specifications"
(Initially tracked in JIRA - https://issues.oasis-open.org/browse/TCADMIN-3836. Some links to logos, and info on the colors is there.)

This work has two major parts:

- Define model OASIS specification in HTML for approval.
- After approval, upgrade templates and processes so that the HTML output (at least) will follow the approved model.

This will affect multiple templates in DOCX, ODT, Markdow

[2020-11-30 20:06] chet-ensign opened #96 "We need a way to link to individual OS/CS on the standards page"
On the legacy site, the standards page was an HTML page and each entry could be linked independently. This can still be done - see for example https://www.oasis-open.org/standard/akn-v1-0/ - but it isn't clear from the main standards page how to get to that url.

As @CarolGeyer and others often use these to direct people to specific standards, we need a way to find those urls and use them.

[2020-11-30 20:22] CarolGeyer opened #97 "Generate link to filtered view of Projects"
Is there a way we can get a link to, for example, all the Projects with the "Privacy" Technology tag?

This would be really useful when we're pitching a new project, and the proposer asks, "What other privacy projects do you have?" Of course, we can always tell them to go to /projects and filter on "privacy", but it would be great if we could provide the direct URL.

I think Scott knows the answer

[2020-11-30 21:30] chet-ensign commented on #27
@CarolGeyer looks like you took care of this one. Can i go ahead and close it? It looks quite finished now.

[2020-11-30 21:42] paul-knight commented on #95
Also, as a model of one approach (title/headings using the logo color cobalt Hex #2248E5, with hyperlinks in a light purple), see OpenDocument CS02 when published in a day or two:
- https://docs.oasis-open.org/office/OpenDocument/v1.3/cs02/part1-introduction/OpenDocument-v1.3-cs02-part1-introduction.html

[2020-11-30 21:44] chet-ensign opened #98 "Set up the cla bot to run on OASIS Open Repos"
Chet to sync up with Jory on setting this up.

[2020-11-30 22:33] chet-ensign commented on #97
@scottmcgrath - on this request from @carol -

When I use the url https://www.oasis-open.org/projects-committees?filter-committee-status=active - it filters the projects for those that are active.

However, when I try https://www.oasis-open.org/projects-committees?filter-technology-area=security - it does nothing. Just opens up the page of projects.

Do you know if this is because the filter isn't

[2020-12-01 14:58] chet-ensign commented on #64
Higher Logic has updated the Kavi site so that clicking on the OASIS logo takes you to www.oasis-open.org. Test it from any internal TC page, e.g. https://www.oasis-open.org/apps/org/workgroup/mqtt/

Closing this ticket.

[2020-12-01 14:58] #64 closed, assigned to chet-ensign

[2020-12-01 19:54] CarolGeyer commented on #46
Can we combine with with issue #92? We have an immediate need to get the tables to adjust the width of tables, so they match the body text and not appear at full page width. This is an issue on https://www.oasis-open.org/join-3/ and https://www.oasis-open.org/foundation-as-a-service/

[2020-12-02 14:46] OASIS-OP-Admin commented on #46
@CarolGeyer I will edit issue #92 to capture this need and make sure the issue is queued up to discuss with HM on Friday. We don't have a retainer arrangement with FurtherMore so I don't know that there is budget to get any of their time. But this is a concrete need that HM can address through style sheets.

[2020-12-02 14:47] OASIS-OP-Admin commented on #92
@CarolGeyer clarifies the immediate need: We have an immediate need to get the tables to adjust the width of tables, so they match the body text and not appear at full page width. This is an issue on https://www.oasis-open.org/join-3/ and https://www.oasis-open.org/foundation-as-a-service/

[2020-12-02 15:00] OASIS-OP-Admin commented on #92
This issue incorporates #46. I opened https://app.zenhub.com/workspaces/oasis-design--build-5f1f650945622c000fb4d09c/issues/humanmade/oasis/247 to bring this up with HM.

[2020-12-02 15:02] OASIS-OP-Admin commented on #46
i opened https://app.zenhub.com/workspaces/oasis-design--build-5f1f650945622c000fb4d09c/issues/humanmade/oasis/247 to raise this with HM

[2020-12-02 18:15] OASIS-OP-Admin commented on #97
Thanks to Joeleen at HM. I was *this* close. The url is https://www.oasis-open.org/projects-committees/?filter-technology=security. I have to find out the filter name for privacy & test out the others but so far, using the lowercase filter name works.

[2020-12-02 18:28] OASIS-OP-Admin commented on #97
To find the word to use for any given Technology Area, go to the WP dashboard, go down to the Projects & Committees section, and click on Technology Areas below it. The TAs will be listed. Click on any given one and then find its slug. For example, Privacy/Identity is privid. And indeed, https://www.oasis-open.org/projects-committees/?filter-technology=privid filters for those projects.

[2020-12-02 18:28] OASIS-OP-Admin commented on #97
The question being answered, I'm closing this ticket.

[2020-12-02 18:28] #97 closed, assigned to scottmcgrath, CarolGeyer

[2020-12-02 19:33] OASIS-OP-Admin opened #99 "Document search urls and slugs to use to filter projects, standards, and news"

[2020-12-02 19:34] OASIS-OP-Admin commented on #99
https://www.oasis-open.org/projects-committees/?filter-technology= (pick one of the following
blockchain
cloud
contech (for Content Technologies)
cybersec (for Cybersecurity)
eb (for e-Business)
egovlegal
emergency
erg (for Energy
iot
oslc (for Lifecycle Integration
local (for Localization
messaging
open-source
privid (for Privacy/Identity
security
soa
ws (for Web Services

[2020-12-02 19:34] OASIS-OP-Admin commented on #99
https://www.oasis-open.org/standards/?filter-technology=security and https://www.oasis-open.org/news/?filter-technology=security

[2020-12-02 19:34] OASIS-OP-Admin commented on #99
Explain where to find the list of slugs

[2020-12-02 22:22] OASIS-OP-Admin opened #100 "Update the Contact Us page"
Contact us from the footer goes to https://www.oasis-open.org/org/offices/

This lists multiple emails, e.g. info@, dataprivacy@, etc. Also lists the current Corporate Drive address as well as the new one. Should bring this up to date, especially checking existing emails listed and adding new ones as they are needed

[2020-12-03 16:52] CarolGeyer commented on #72
Scott, Jory says the OP Sponsors featured on oasis-open-projects.org is correct. I'll add them now. Then, you can run a SF report and double-check at your convenience.

That will let us move ahead with the op site redirects.

[2020-12-03 17:03] CarolGeyer commented on #27
I've made some improvements, but there are still some instances where the text size and column widths need to be adjusted. This table uses the "Classic WP Editor", and I can't figure out how to do the necessary fixes.

[2020-12-03 17:58] chet-ensign opened #101 "Fix links to news articles as reported"
CXS TC and Electronic Court Filing all report broken news links on their home page. Fix these as they are reported.

[2020-12-03 19:49] chet-ensign commented on #101
Fixed broken news article links for CXS.

[2020-12-03 20:05] chet-ensign commented on #101
Fixed broken links reported for ECF. I am leaving this ticket open as I'm sure more broken links will be reported.

[2020-12-03 22:00] mbminto commented on #80
Updated the DC page and have a couple of things:
- Bosak isn't on LI (that I could find...) I left his profile to only say the year that he was named DC. 
- Lockhart - when was he named DC? I don't see anything on our website; his LI profile says DC but doesn't say the year.

[2020-12-03 22:08] chet-ensign commented on #80
Also, looks like the photo for Bill Cox is lost. @mbminto - I found it. https://www.oasis-open.org/wp-admin/upload.php?item=5201 - William Cox, Ph.D.

[2020-12-03 22:16] mbminto commented on #80
Thanks! Just updated the page w/ his photo.

[2020-12-03 22:20] chet-ensign commented on #27
Carol, can you tell me what you want to fix? I assume changing the column widths so that Contributor doesn't wrap. Anything else?

[2020-12-07 22:46] chet-ensign commented on #92
HM issue #247 - Create tables that fit into the width of the text column, not the full width of the page - has been entered and is top priority for the next sprint. i will mark this issue as closed since work is underway.

[2020-12-11 15:11] chet-ensign commented on #12
I set up the basic Member Resources page and added it to the footer menu under Useful Links. I will continue to flesh out the page with more links. As the resource is in place, however, I will close this ticket.

[2020-12-11 15:11] #12 closed, assigned to chet-ensign

[2020-12-15 17:54] CarolGeyer commented on #93
Can we make this a priority?

[2020-12-15 19:15] schurbet opened #102 "TC email archives are displaying incorrectly"

[2020-12-15 19:58] scottmcgrath commented on #93
Done

On Tue, Dec 15, 2020 at 12:54 PM Carol Geyer <notifications@github.com>
wrote:

--
Scott McGrath
COO
scott.mcgrath@oasis-open.org

Tel +1 781-425-5073 x202

Follow OASIS on:
LinkedIn:    http://linkd.in/OASISopen
Twitter:        http://twitter.com/OASISopen
Facebook:  http://facebook.com/oasis.open

[2020-12-16 14:54] chet-ensign commented on #102
This is a duplicate of issue #30. Jessie is still working with Higher Logic to fix the problem.

[2020-12-16 22:23] chet-ensign commented on #93
Confirmed that it is there and working. I'll close this ticket.

[2020-12-16 22:23] #93 closed, assigned to chet-ensign

[2021-01-08 18:04] chet-ensign commented on #15
Mary Beth and I continue to make progress. Most of the remaining work is old standards that don't fit our current model cleanly.

[2021-01-08 18:07] chet-ensign commented on #27
@CarolGeyer - can you tell me what needs to be fixed?  I assume changing the column widths so that Contributor doesn't wrap. Anything else?

[2021-01-08 18:10] chet-ensign commented on #55
I will remove this from our project. As I recall from the last sprint discussion, we don't think this is now critical. To the extent that it is, we'll manage it on the HM side.

[2021-01-08 18:12] chet-ensign commented on #101
Other links have been raised and fixed. We have an open issue with HM to fix this globally. I'll close this ticket and we can open individual tickets as problems are reported. Doesn't seem to be a frequent complaint now.

[2021-01-08 18:12] #101 closed, assigned to chet-ensign

[2021-01-08 18:23] chet-ensign commented on #38
I edited the sponsor block as @CarolGeyer requested. It is not yet showing up on the site. Perhaps there's time needed for WP to sync.

[2021-01-08 18:42] chet-ensign commented on #79
Hi @mbminto - I'm looking through the tickets underway. Did you know about this one being assigned to you. I don't recall how that came about.

[2021-01-08 19:20] chet-ensign commented on #38
Scott flushed the WP cache. The changed text is now displayed. I'm closing this ticket.

[2021-01-08 19:20] #38 closed, assigned to scottmcgrath

[2021-01-08 19:44] chet-ensign opened #103 "Fix document links in https://www.oasis-open.org/wp-admin/post.php?post=4962&action=edit"
Reported by Mary Beth. The post does not show the contents of the Document links box but they display correctly online. This ticket is to fix the Document links content to eliminate the possibility of a data corruption problem.

Clarification: these are standards entries. When editing them, the text of links to documents doesn't display. However, when they are pulled up online, everything is there

[2021-01-08 20:17] chet-ensign commented on #103
Same problem with https://www.oasis-open.org/standard/wssv1-1-1/?preview_id=4961&preview_nonce=b876720f0f&preview=true

[2021-01-08 20:21] chet-ensign commented on #103
Same problem with https://www.oasis-open.org/wp-admin/post.php?post=4965&action=edit

[2021-01-08 20:29] chet-ensign commented on #103
Than recommends holding off edits until they can troubleshoot/debug.

[2021-01-09 11:45] PimvanderEijk opened #104 "https://www-legacy.oasis-open.org/"
This site is up and publicly available.  Was it used for the web site transition?  Then maybe it's no longer needed and can be removed.

I found out about this site by using the Search form on the current site.  So apparently https://www-legacy.oasis-open.org is included in the index.   So at the very least,  add a robots.txt or something equivalent so it does not show up in search results.

[2021-01-09 11:47] PimvanderEijk opened #105 "Search box not available on kws pages"
The site has a search form on the top right side of the page.
But,  when you log on to the TC member pages,  it is no longer there.
Could the template be modified to have it also on the kws part of the site?

[2021-01-09 12:05] PimvanderEijk opened #106 "Search function, better order of search results and/or allow user to control what is searched"
Currently the search box provides full text searching of the entire set of pages.  When you search on a particular spec based on acronym,  the returned order seems to reflect whatever the search engine used finds relevant.  This needs some tuning. Sometimes the result is some old working document of a TC or an email on the mailing list rather than the published standard. E.g. for "cppa3",  the mai

[2021-01-11 17:04] chet-ensign opened #107 "Add ability to print or download PDFs of policy documents"
This issue was brought to my attention by Frederick. On our former site, each policy had a PDF button at the bottom that would generate and download a PDF version. Frederick found that useful for having printed copies available.

This ticket is to investigate how we can add a similar feature for our readers on the new website. Brute force solution would be to create and add PDFs manually. If a sim

[2021-01-11 18:00] jane-harnad opened #108 "Past Event Search"
Is it possible to adjust the way past events appear when selecting that search option? At the moment, it runs oldest to newest. Would prefer to see the most recent past events to appear at the top of the page. Please let me know.

https://www.oasis-open.org/events/

[2021-01-11 18:45] chet-ensign opened #109 "Some charters not displaying correctly"
In consulting with the DITA TC, I discovered that their charter document appeared to lack formatting. https://www.oasis-open.org/committees/dita/charter.php. Spot checking identified at least one other.

I notified Jesse Cotton first in case the error is in the feed from Kavi to the website. If it is not our problem, I will bring it up with HM.

[2021-01-11 18:52] chet-ensign commented on #108
This is also raised in #53. I opened HumanMade issue https://github.com/humanmade/OASIS/issues/259 to capture this requirement.

[2021-01-11 19:37] chet-ensign commented on #106
Pim, I'll raise this question with Scott. I'm not sure where we left the question of search enhancements, SEO tuning, etc.

[2021-01-11 19:41] chet-ensign commented on #105
Pim, the current TC member pages are simply restyled versions of the old ones. I will ask Scott, but I don't believe we have a way to put a search box on those pages now.

[2021-01-11 19:43] chet-ensign commented on #104
@PimvanderEijk - we still have some content on -legacy such as the support request forms. I'm hoping we can drop the site by end of the first quarter.

[2021-01-11 19:46] chet-ensign commented on #2
This is an open ticket with HM #187. Since this must be done there and they have the ticket, I'm closing our copy as a duplicate.

[2021-01-11 19:46] #2 closed, assigned to nobody

[2021-01-11 19:48] chet-ensign commented on #23
We've agreed that this isn't likely to be fixed since it is what happens when you click the back button. I will close the ticket.

[2021-01-11 19:48] #23 closed, assigned to nobody

[2021-01-11 19:50] chet-ensign commented on #32
@CarolGeyer - this doesn't seem to be a priority. Shall I go ahead and close it?

[2021-01-11 19:56] chet-ensign commented on #39
I take back my previous comment. The contents on the page are fed from the events collection, so it will probably sort same order - oldest to newest. I added a comment on this to HM ticket https://github.com/humanmade/OASIS/issues/259

[2021-01-11 19:58] chet-ensign commented on #43
This duplicates HM issue #40. Since it is being tracked over there, I'll remove from our list.

[2021-01-11 19:58] #43 closed, assigned to nobody

[2021-01-11 19:59] chet-ensign commented on #44
@scottmcgrath - just checking. can I close this ticket?

[2021-01-11 20:01] chet-ensign commented on #46
This issue is closed on HM (#247). I will close here as well.

[2021-01-11 20:01] #46 closed, assigned to guywmartin, scottmcgrath, chet-ensign, CarolGeyer

[2021-01-11 20:02] chet-ensign commented on #52
@CarolGeyer - can I close this one?

[2021-01-11 23:48] #55 closed, assigned to nobody

[2021-01-11 23:49] #92 closed, assigned to nobody

[2021-01-12 01:24] scottmcgrath commented on #44
Yes, Jesse is managing the proxy

On Mon, Jan 11, 2021 at 3:00 PM Chet Ensign <notifications@github.com>
wrote:

--
Scott McGrath
COO
scott.mcgrath@oasis-open.org

Tel +1 781-569-5115

Follow OASIS on:
LinkedIn:    http://linkd.in/OASISopen
Twitter:        http://twitter.com/OASISopen
Facebook:  http://facebook.com/oasis.open

[2021-01-12 01:26] scottmcgrath commented on #52
Did we, should we have set expectations?  I thought we had agreed that the
first instance in a section should read as OASIS Open but subsequent
mentions could be less formal OASIS??

On Mon, Jan 11, 2021 at 3:03 PM Chet Ensign <notifications@github.com>
wrote:

--
Scott McGrath
COO
scott.mcgrath@oasis-open.org

Tel +1 781-569-5115

Follow OASIS on:
LinkedIn:    http://linkd.in/OASISopen
Twitter:

[2021-01-12 01:29] scottmcgrath commented on #104
I've had robots.txt file added to legacy site so it won't show up on
searches

On Mon, Jan 11, 2021 at 2:43 PM Chet Ensign <notifications@github.com>
wrote:

--
Scott McGrath
COO
scott.mcgrath@oasis-open.org

Tel +1 781-569-5115

Follow OASIS on:
LinkedIn:    http://linkd.in/OASISopen
Twitter:        http://twitter.com/OASISopen
Facebook:  http://facebook.com/oasis.open

[2021-01-12 14:14] chet-ensign commented on #44
Closing this ticket.

[2021-01-12 14:14] #44 closed, assigned to nobody

[2021-01-12 14:16] chet-ensign commented on #52
That's my understanding, too.

On Mon, Jan 11, 2021 at 8:26 PM Scott McGrath <notifications@github.com>
wrote:

--
Chet Ensign

Chief Technical Community Steward

OASIS Open

+1 201-341-1393 <+1+201-341-1393>
chet.ensign@oasis-open.org
www.oasis-open.org

[2021-01-12 14:17] chet-ensign commented on #104
Based on this exchange, I'll go ahead and close this ticket.

[2021-01-12 14:17] #104 closed, assigned to nobody

[2021-01-12 16:47] chet-ensign commented on #109
Jesse believes this is on our side. He is looking into it.

[2021-01-14 14:54] chet-ensign commented on #109
Jesse determined that problematic charters are from older TCs. He said that he would clean them up as he found time although I suggested the problem might now warrant more of his time.

Since we know the reason and since many charters will be either updated as a result of charter reviews or TC closures, I don't see any need to keep this ticket open. I'll go ahead and close it.

[2021-01-14 14:54] #109 closed, assigned to nobody

[2021-01-14 15:03] chet-ensign commented on #96
You can do this now however it is convoluted and requires access to the WP dashboard. The process is (a) go to the Standards list on the dashboard, (b) find the CS or OS you want, (c) hover the cursor over the title of the spec and click View, and then (d) copy the url from the browser bar.

See, for example, CAMP V1.2 at https://www.oasis-open.org/standard/camp-1-2/

However, an easier way is nee

[2021-01-14 15:09] chet-ensign commented on #52
I'm closing this issue.

[2021-01-14 15:09] #52 closed, assigned to nobody

[2021-01-14 17:27] chet-ensign opened #110 "Document Retention Policy lost formatting"
This was HM #251. See https://www.oasis-open.org/policies-guidelines/document-retention-destruction/

Looks like this will be an OASIS fix. Other policies may need this fix as well.

[2021-01-14 19:44] chet-ensign commented on #41
Figure out who will put the redirects in place. assign to Jory.

[2021-01-14 20:32] CarolGeyer commented on #80
MB did a great job with all these DCs!

I added a sentence to the top to call out the most recent inductees with a link to the press release.

I think the only action remaining is for Chet to get HM to figure out why the  first seven DCs aren't displaying in alpha order.

[2021-01-14 20:44] #100 closed, assigned to nobody

[2021-01-14 20:50] CarolGeyer commented on #79
Before MB spends any more time looking for better photos and cropping the ones we have, Chet will see if HM can provide a more fool-proof solution to adding photos. Is there a different plugin or design?

[2021-01-14 20:55] CarolGeyer commented on #72
The list of OP Sponsors has been added. MB to link these companies when she has time. MB to fix the formatting of the Sponsor and Contributors bulleted lists per input from SM.

CG still wants to address the EVENTUALLY idea...no rush on that.

[2021-01-14 20:56] CarolGeyer commented on #63
CG and JH to create a CTA section for this and insert it on our STANDARDS and/or PROJECTS pages.

[2021-01-14 20:58] CarolGeyer commented on #40
Marketing Group to discuss how to use CTA blocks on the site. (One way is to promote SWAG).

[2021-01-14 20:59] CarolGeyer commented on #41
JB to do the redirects as indicated: https://docs.google.com/spreadsheets/d/1tms3z85P_avXbD1kH3JPGoiGdFkNK2Hx6Y0S3eHGQeE/edit#gid=0

SM to assist if needed.

[2021-01-14 21:00] CarolGeyer commented on #37
Marketing Team to discuss how/if we want to implement this block.

[2021-01-14 21:01] #27 closed, assigned to scottmcgrath, chet-ensign

[2021-01-14 21:03] CarolGeyer commented on #39
If this is the same issue as #56, we can close this one.

[2021-01-14 21:07] CarolGeyer commented on #32
I believe the content on https://www.oasis-open.org/categories-dues has been updated and incorporated into https://www.oasis-open.org/join-3/.

SM--please double check. If you agree, then do you want /categories-dues to redirect or what? It's no longer linked from the Member Roster.

[2021-01-14 21:08] CarolGeyer commented on #56
Marketing Team should discuss how we want to implement this.

[2021-01-14 21:10] CarolGeyer commented on #108
Duplicate of issue #53.

[2021-01-14 21:10] #108 closed, assigned to nobody

[2021-01-14 21:39] chet-ensign commented on #79
We discussed this today. I have opened https://github.com/humanmade/OASIS/issues/261 to ask HM to look into or suggest plugins that might help with the pictures.

[2021-01-14 21:40] chet-ensign commented on #27
We discussed and agreed that this page is acceptable now. Closing this ticket.

[2021-01-14 21:42] chet-ensign commented on #89
We discussed this today. This is a CLA project issue, not a website issue. I'll move it off the project board.

[2021-01-14 21:44] chet-ensign commented on #37
The block has been created. Marketing / communication team will decide how to use. I will move this ticket back to the To do column as there is no work pending now on it.

[2021-01-14 21:46] chet-ensign commented on #107
We discussed this today. @scottmcgrath noted that the old button was just a 'print page as pdf' link. We could probably add this in some way to the current site but not clear that there is a benefit for now. If we get more requests, we'll revisit it.

[2021-01-14 21:47] chet-ensign commented on #100
We discussed today. @CarolGeyer noted that this is done. Closing this ticket.

[2021-01-14 21:48] chet-ensign commented on #96
We discussed today. @CarolGeyer confirmed that this is still a useful capability. Leaving in To do column for now.

[2021-01-14 21:50] chet-ensign commented on #106
We discussed today. Scott noted that he has an open assignment to look into ad-free Google search for non-profits. That may help address this.

[2021-01-14 21:51] chet-ensign commented on #84
We discussed this today. @scottmcgrath noted that we do need to do a better job of explaining / naming the two login links at the top of the page. Leaving on the To do column for now.

[2021-01-14 23:12] chet-ensign commented on #105
We discussed this today (Guy, Scott, Carol, Chet). We noted that the TC member pages didn't have search boxes in the past. As that is not under our control, we don't think this will be possible until we migrate the committee pages to a new platform. We'll close this for now.

[2021-01-14 23:12] #105 closed, assigned to nobody

[2021-01-15 20:14] chet-ensign commented on #80
Fixed. Looking at the entries, I found the first 7 had their order field set to -9. That was lifting them ahead of the others. I set them back to 0. Now, all DCs are in alphabetical order. (Well, William Cox is before Tony Cox but I think we can live with that.)

[2021-01-15 20:14] #80 closed, assigned to chet-ensign

[2021-01-18 23:00] OASIS-OP-Admin commented on #110
Reformatted the page. The block of documents and the retention requirements had to be cut & pasted into a table. All complete now so I will close this ticket.

[2021-01-18 23:00] #110 closed, assigned to nobody

[2021-01-18 23:06] OASIS-OP-Admin commented on #70
Checked all policy pages. All appear to be formatted properly with the possible exception that numbered lists all use numerals where we originally used a mix of numbers and letters. That's not a show stopper. I will close this ticket and open a ticket to HM to see if we can get other numbered list options added.

[2021-01-18 23:06] #70 closed, assigned to chet-ensign

[2021-01-18 23:14] chet-ensign commented on #70
Opened HM ticket https://github.com/humanmade/OASIS/issues/262 to ask about getting alpha-style lists working.

[2021-01-19 15:22] CarolGeyer commented on #41
This hasn't been completed yet. https://oasis-open-projects.org/ still directs to the original site.

[2021-01-19 15:55] OASIS-OP-Admin commented on #41
Is this a Jesse fix?

[2021-01-19 19:58] jane-harnad opened #111 "Interop video content from the legacy site"
(Not urgent) I would like to use some of the Interop videos that were housed on the old event site at -- https://www.oasis-open.org/events/interops . Is it possible to still access that information somewhere?

[2021-01-19 20:03] jane-harnad opened #112 "Event calendar date, time, display - inconsistency"
On the event calendar -- Is there a reason why the date/time display is different for -- "The EU Open Source Policy Summit 2021."  **Friday, 5 Feb 2021 at 9:17 am EST  vs. 5 Feb 2021**

[2021-01-20 22:01] mbminto opened #113 "Fix link for "Member or Observer" on How to Join a Committee page"
The link for "Member or Observer" in #3 below doesn't work. Clicking on it results in a page that says nothing found / page not found.

https://www.oasis-open.org/join/

How to Join a Committee
If you are a member of OASIS and already have a user account in the OASIS member database:
1. Go to All Groups (your OASIS username and password are required) and choose a Committee from the Available Group

[2021-01-20 22:09] OASIS-OP-Admin commented on #113
Thanks for the report, Mary Beth. I'll sort this out.

[2021-01-22 22:57] chet-ensign commented on #103
Opened #263 in HumanMade list to track fixing this.

[2021-01-22 23:14] chet-ensign commented on #113
@mbminto  - Fixed the link to https://www.oasis-open.org/roles/. The color and weight of the dots isn't quite as heavy but the content looks correct.

[2021-01-22 23:15] #113 closed, assigned to OASIS-OP-Admin

[2021-01-24 11:08] PimvanderEijk opened #114 "Covid page disappeared"
On 27 May 2020 we posted a news item "How OASIS work can help fight COVID-19" that points to the following page:

https://www.oasis-open.org/covid

This now returns:

Nothing Found
Sorry, it seems we can't find what you're looking for.
Maybe you'd like to return to the homepage?

[2021-01-25 19:14] chet-ensign commented on #114
Scott is investigating. Seems to be a bug. The page content is there but for some reason doesn't show up when published.

[2021-01-27 14:45] chet-ensign commented on #91
Correct link was to .../faq-4/. Fixed in document. The link works properly now. Closing this ticket.

[2021-01-27 14:45] #91 closed, assigned to chet-ensign

[2021-01-29 22:11] chet-ensign commented on #15
All standards entries now have technology areas and excerpts applied. I'll go ahead and close this ticket.

[2021-01-29 22:11] #15 closed, assigned to chet-ensign, mbminto

[2021-02-01 15:27] chet-ensign opened #115 "Create a historical policies page for the really old versions"
This came up in considering whether to increase the limit of 5 historic documents to accommodate the list for the TC Process. It as 18 historical copies. That would make the page busy for little benefit.

@scottmcgrath suggested instead going with a historic policies page where the older ones could be listed. This ticket is to try that out.

[2021-02-01 15:32] chet-ensign commented on #114
@scottmcgrath fixed the problem. New link is now up for EU Foundation. I'll close this ticket.

[2021-02-01 15:32] #114 closed, assigned to nobody

[2021-02-01 15:34] chet-ensign commented on #112
HM is working on this. It requires a style sheet tweak.

[2021-02-04 14:59] chet-ensign opened #116 "Link to the Membership Agreement at top of Policies page is broken"
At the top of the Policies Page, there is a link to the MA: https://www.oasis-open.org/wp-content/uploads/2020/11/membership-agreement.pdf - It returns a 404 error

[2021-02-04 15:09] chet-ensign commented on #116
Changed the link to https://www.oasis-open.org/join/membership-agreement.pdf - the main link used on the Join page. It works now.

[2021-02-04 15:09] #116 closed, assigned to nobody

[2021-02-04 18:22] chet-ensign opened #117 "Modify 'Our Work' block to rotate projects/standards similar to the Members rotator block"
Suggested by Pim. Set the Our Work block to rotate different projects and standards either regularly or on each refresh of the page as a way to make the page more active.

[2021-02-04 23:04] paul-knight opened #118 "Develop banner logo for OASIS Open Projects using the new logo."
Need a replacement for the current banner logo (https://docs.oasis-open-projects.org/templates/logo/open-projects-logo.png)

[2021-02-05 21:40] chet-ensign commented on #117
Joeleen from HM explained that if I don't override with the order field, they do this automatically. I confirmed that they change on each refresh so I'm closing this ticket.

[2021-02-05 21:40] #117 closed, assigned to nobody

[2021-02-08 07:13] PimvanderEijk opened #119 "OASIS EU site, Menu option does not work on mobile"
On the mobile version of https://www.oasis-open.eu/,  the "Menu" button does not work.  No menu appears when the button is pressed.

Tested with Chrome, Brave and Opera on Android and the stock browser on SailfishOS.

[2021-02-17 22:53] OASIS-OP-Admin commented on #115
HM solved this instead by adding a more... button. Last 5 historical policies will be displayed and then the button. Clicking it pulls up all the policies. Checked it out and it works fine. I'll go ahead and close this ticket.

[2021-02-17 22:53] #115 closed, assigned to nobody

[2021-02-17 22:55] OASIS-OP-Admin commented on #94
HumanMade updated the style sheet. It now respects the HTML order attribute on lists. This is now working as expected so I'll close the ticket.

[2021-02-17 22:55] #94 closed, assigned to chet-ensign

[2021-02-17 22:57] OASIS-OP-Admin commented on #53
HumanMade switched the order. The events now display from most recent backwards. Closing this ticket.

[2021-02-17 22:57] #53 closed, assigned to nobody

[2021-02-17 22:59] OASIS-OP-Admin commented on #82
The list works and displays with our style sheet. I'll close this ticket. Nothing further to do.

[2021-02-17 22:59] #82 closed, assigned to nobody

[2021-02-17 23:03] #39 closed, assigned to nobody

[2021-02-19 15:51] OASIS-OP-Admin opened #120 "Get https://www.oasis-open.org/presentations/ transferred to the new website and editable"
Raised by Jane. https://www.oasis-open.org/presentations/ is an archive of past events and appears to be fed from the legacy site, not located on the new site. Need to check with Jesse and HM to see if we can get it transferred over.

[2021-02-19 17:03] scottmcgrath commented on #120
FYI - since 1-1-2020 a total of 11 links  under the /presentations
directory have been accessed a total of 937 times.  If you factor out the
few times there was a big spike in activity during DOS attacks - there
seems to be little interest in this content.

See the details at the link below.  The total hits per day

On Fri, Feb 19, 2021 at 10:51 AM OASIS-OP-Admin <notifications@github.com>
wrote:

[2021-02-19 17:30] scottmcgrath commented on #120
like I said... the link below:
https://docs.google.com/spreadsheets/d/1gh2q2VFEQ5A074VP7PR7eX7jHk_Lym0vnOCiZz2_6x8/edit?usp=sharing

On Fri, Feb 19, 2021 at 12:03 PM Scott McGrath <scott.mcgrath@oasis-open.org>
wrote:

--
Scott McGrath

Chief Operating Officer

OASIS Open

+1 781- <+1+781-425-5073>569-5115 Desk
+1 781-929-7308 Mobile
scott.mcgrath@oasis-open.org
www.oasis-open.org

[2021-03-01 08:15] PimvanderEijk opened #121 "Link to TC Administration Homepage does not work"
After logging in to Kavi,  you are at https://www.oasis-open.org/kws

Below at the right there is a link to "TC Administration Homepage" with URL http://www.oasis-open.org/resources/tcadmin.

This link returns a "Nothing Found" error page.

[2021-03-01 08:16] PimvanderEijk opened #122 "Bad content at https://www.oasis-open.org/resources/"
This page includes the following as readable text:

[mk_page_section bg_image=”https://www.oasis-open.org/wp-content/uploads/2018/02/52588.jpg” bg_position=”center center” bg_stretch=”true” video_color_mask=”rgba(0,0,0,0.47)” video_opacity=”1″ padding_top=”90″ padding_bottom=”90″ sidebar=”sidebar-1″][vc_column][vc_column_text css=”.vc_custom_1517876259739{margin-bottom: 0px !important;}”]

[2021-03-01 08:37] PimvanderEijk commented on #121
If I type http://www.oasis-open.org/resources/tc-admin, there seems to be a re-direct to:

https://www.oasis-open.org/tc-admin-request-checklist/

That's another "Nothing Found".

[2021-03-01 08:40] PimvanderEijk commented on #121
OK now found the page at https://www.oasis-open.org/member-resources/.

[2021-03-01 18:55] jane-harnad commented on #112
After further review -- the issue we have is with the single date events that include a time. The time seems to get lost in the current format. Is there a better font and/or layout option available? Using all caps or a divider might help example: "Friday, 5 Feb   |   11:00 AM EST"  or FRIDAY, 5 FEB — 11:00 AM EST".

[2021-03-01 19:05] jane-harnad opened #123 "Image size on event calendar"
Is there a way to increase the size of the logo area on our event calendar? (Space to the right of each event description.) I am finding it extremely difficult to locate event images to fit the tiny space provided. Most event banners provided by organizers don't fit -- so I'm left with trying to find alternative images.

[2021-03-02 20:58] OASIS-OP-Admin commented on #123
@jane-harnad - Do you just need a larger size or do you need several optional box sizes for images that you can use for the announcements?

This will take HM redesigning the layout of the post or post(s), so we should get our request organized in advance.

[2021-03-02 21:03] OASIS-OP-Admin commented on #122
@scottmcgrath - Scott, should we take this page down? It looks like a page we didn't intend to carry over. There are no links to it from the homepage.

@PimvanderEijk - how did you get to it? Did you come across a link?

[2021-03-02 21:04] OASIS-OP-Admin commented on #121
Right - member-resources is to become the replacement for the TC Admin page.

I'll go ahead and close this ticket.

[2021-03-02 21:04] #121 closed, assigned to nobody

[2021-03-02 21:05] OASIS-OP-Admin commented on #120
@jharnad - Pls see Scott's comments. Are you OK with leaving this off the new site?

[2021-03-02 21:12] OASIS-OP-Admin commented on #119
@scottmcgrath @PimvanderEijk - I see that too. It isn't clear though what that hamburger button should do when clicked. It doesn't have a counterpart on the web site. Perhaps it should just come off for now?

[2021-03-02 21:27] chet-ensign commented on #98
This was completed for ICLA bot doing using CLA Assistant for Individual CLAs for Open Repositories. It is now set up and tested. Entity CLAs will, in due course, migrate to SalesForce.

I will close this ticket.

[2021-03-02 21:27] #98 closed, assigned to jorydotcom, chet-ensign

[2021-03-02 21:28] chet-ensign commented on #30
Just noting that Jesse continues the back and forth with Higher Logic's help desk without success.

[2021-03-04 16:47] OASIS-OP-Admin opened #124 "Change button text on from "Join this TC/SC" to "How to join""
The button text is misleading and causes confusion.

Member Ger Clancy emailed asking why he was having trouble joining a UBL subcommittee. From the UBL members-only page, he clicked the link for the SC. Once he got there, he clicked the Join this SC button but kept winding up at an instructions page.

The problem was that the link took him to the *public* SC page. He needed to click the SC member

[2021-03-06 16:19] PimvanderEijk commented on #122
I found it trying to find another page by guessing URLs (see other issue). It is not linked to from somewhere.

[2021-03-07 08:38] PimvanderEijk commented on #119
This menu button should open access to a list with items "About",  "News items",  "OASIS Open",  just like the corresponding button on the mobile version of the OASIS dot org site.

[2021-03-08 22:46] OASIS-OP-Admin commented on #89
Per the decision I documented above, and the progress underway for CLAs, I am closing this ticket.

[2021-03-08 22:46] #89 closed, assigned to scottmcgrath, chet-ensign, jamienewlaw, CarolGeyer

[2021-03-08 22:47] OASIS-OP-Admin commented on #30
Believe it or not, Jesse is still going back and forth with Kavi tech support. It appears to be beyond the capacity of their engineers to resolve.

[2021-03-15 19:16] OASIS-OP-Admin commented on #112
HumanMade ticket https://app.zenhub.com/workspaces/oasis-design--build-5f1f650945622c000fb4d09c/issues/humanmade/oasis/286 opened to track this update

[2021-03-25 17:07] chet-ensign commented on #103
Fixed in staging but hasn't been pushed to production yet. Take that up when we start maintenance in April.

[2021-03-25 17:08] chet-ensign commented on #120
I'll take that as OK to close.

[2021-03-25 17:08] #120 closed, assigned to nobody

[2021-03-25 17:19] chet-ensign commented on #119
Opened HumanMade issue https://github.com/humanmade/OASIS/issues/288 to report this. Will follow up when maintenance begins in April.

[2021-03-25 17:35] chet-ensign commented on #63
Added to the bottom footer next to Member Resources. Can move elsewhere if anyone wishes. I'll close this ticket as done.

[2021-03-25 17:35] #63 closed, assigned to CarolGeyer

[2021-03-25 17:36] chet-ensign commented on #66
Fixed on staging but not pushed to production. We'll take back up when maintenance starts in April.

[2021-03-25 17:37] chet-ensign commented on #51
Experimenting with Gravity Forms and with JIRA issue templates. odd problem with Gravity Forms. I created a simple form (https://www.oasis-open.org/wp-admin/admin.php?page=gf_edit_forms&id=2) with a handful of fields. Very generic. However, when I place it on a page, the input fields are squashed between the text above and below (https://www.oasis-open.org/gravity-forms-test-page/). I took their s

[2021-03-26 15:25] chet-ensign commented on #51
After HumanMade updating forms style sheets, the test form displayed correctly and sent notifications, opened a TC Admin JIRA issue. We'll proceed with planning the transition.

[2021-04-02 17:59] paul-knight opened #125 "Links to docs.oasis-open.org should use https: instead of http:"
Two links from https://www.oasis-open.org/policies-guidelines/ should be modified to use https:

- Directives for Filenames, URIs, Namespaces, and Metadata
-- currently http://docs.oasis-open.org/specGuidelines/ndr/namingDirectives.html

- Guidelines to Writing Conformance Clauses
-- http://docs.oasis-open.org/templates/TCHandbook/ConformanceGuidelines.html

[2021-04-06 01:54] mbminto opened #126 "Link to TC Public Page of LegalXML MS doesn't work"
https://www.oasis-open.org/apps/org/workgroup/legalxml-ms/
If you go to the site above and click on TC Public Page, the message says "Nothing Found."

[2021-04-06 03:37] mbminto opened #127 "Join a TC link doesn't work"
https://www.oasis-open.org/technical-committees/
Clicked on "Join a TC" and page says Nothing Found.

[2021-04-06 12:24] scottmcgrath commented on #127
Oops.  I was messing with various join pages.   I can fix this

On Mon, Apr 5, 2021, 11:37 PM Mary Beth Minto ***@***.***>
wrote:

[2021-04-06 14:54] scottmcgrath commented on #127
fixed

On Tue, Apr 6, 2021 at 8:24 AM Scott McGrath ***@***.***>
wrote:

--
Scott McGrath

Chief Operating Officer

OASIS Open

+1 781- <+1+781-425-5073>569-5115 Desk
+1 781-929-7308 Mobile
***@***.***
www.oasis-open.org

[2021-04-16 17:17] mbminto opened #128 "Sponsor an Open Project link doesn't work"
https://www.oasis-open.org/open-projects/
Clicking on "Sponsor an Open Project" brings you to a page that says:

Nothing Found
Sorry, it seems we can't find what you're looking for.
Maybe you'd like to return to the homepage?

[2021-04-16 21:29] scottmcgrath commented on #128
Fixed

On Fri, Apr 16, 2021 at 1:17 PM Mary Beth Minto ***@***.***>
wrote:

--
Scott McGrath

Chief Operating Officer

OASIS Open

+1 781- <+1+781-425-5073>569-5115 Desk
+1 781-929-7308 Mobile
***@***.***
www.oasis-open.org

[2021-04-20 20:57] OASIS-OP-Admin opened #129 "Broken links on CSAF page"
Reported by Art Manion:

From a thread about CSAF in a different forum, the announcements links on this page are broken/gone:

   https://www.oasis-open.org/committees/tc_home.php?wg_abbrev=csaf#announcements

These links:

   https://www.oasis-open.org/news/announcements/csaf-common-vulnerability-reporting-framework-cvrf-v1-2-is-now-a-committee-specif

   https://www.oasis-open.org/news/pr/oasis-

[2021-04-21 13:52] OASIS-OP-Admin commented on #129
have to fix links like these manually until HM pushes out the overall fix

[2021-04-21 14:50] OASIS-OP-Admin commented on #129
also had to fix formatting on the linked announcements. All set now. I'll close the ticket.

[2021-04-21 14:50] #129 closed, assigned to OASIS-OP-Admin

[2021-04-25 19:30] PimvanderEijk opened #130 "Link to join page not working"
When I click on the blue cross above "A community for everyone"

![image](https://user-images.githubusercontent.com/8939497/116006835-422d9000-a60d-11eb-8658-e9c98289f79d.png)

I end up at https://www.oasis-open.org/join-3/.

![image](https://user-images.githubusercontent.com/8939497/116006882-6d17e400-a60d-11eb-8792-dba35aa14ff2.png)

[2021-04-26 15:47] OASIS-OP-Admin commented on #130
It looks like someone changed the file name from join-3 to join. Corrected the link and now it is working correctly.

[2021-04-26 15:47] #130 closed, assigned to OASIS-OP-Admin

[2021-04-26 18:27] OASIS-OP-Admin commented on #122
I renamed the file 'obsolete-resoures' to ensure no one stumbles across it. I'll close this ticket.

[2021-04-26 18:27] #122 closed, assigned to nobody

[2021-05-04 21:20] OASIS-OP-Admin opened #131 "Event should not display on Events list after it is over"
Jane reports Ubicity event still displaying after the date on the event calendar? https://www.oasis-open.org/events/

[2021-05-17 14:04] OASIS-OP-Admin opened #132 "Press release did not migrate to new web site"
Mary Beth discovered that the press release https://www-legacy.oasis-open.org/news/pr/oslc-approves-five-open-source-specifications-for-integrating-software-lifecycle-tools did not migrate to the new website. The original link was https://www.oasis-open.org/news/pr/oslc-approves-five-open-source-specifications-for-integrating-software-lifecycle-tools. However, I cannot find it on the new website e

[2021-05-17 15:01] OASIS-OP-Admin opened #133 "Recreate missing press release on new website"
https://www-legacy.oasis-open.org/news/pr/oslc-approves-five-open-source-specifications-for-integrating-software-lifecycle-tools

Didn't transfer over so need to recreate.

[2021-05-20 14:51] OASIS-OP-Admin commented on #51
Paul is reviewing the current support forms on the legacy website. Editing the ticket content. Need to review list for any new tickets needed. Need to review forms procedure on WP

[2021-05-20 14:53] OASIS-OP-Admin commented on #66
The fix was pushed to production by HM. Checking over a number of the TC web pages didn't turn up any broken links. It looks to be working correctly, so I will close the ticket.

[2021-05-20 14:53] #66 closed, assigned to nobody

[2021-05-20 14:54] #30 closed, assigned to chet-ensign

[2021-05-20 14:55] OASIS-OP-Admin commented on #30
Jesse and HM finally got this working. The mail list archives are back to normal. Closing the ticket.

[2021-05-20 15:01] chet-ensign commented on #103
HM has a ticket for this and Than has a solution. It will be addressed under maintenance.

[2021-05-20 15:04] chet-ensign commented on #131
Joleen fixed this. Should it reoccur, the solution is to republish the document in order to set the historical event flag.

Specific instance is fixed so I'm closing the ticket.

[2021-05-20 15:04] #131 closed, assigned to nobody

[2021-05-20 15:05] chet-ensign commented on #133
Duplicate of 132. Closing this one.

[2021-05-20 15:05] #133 closed, assigned to nobody

[2021-05-20 15:06] chet-ensign commented on #102
Jesse and HM fixed the problem. Closing this ticket.

[2021-05-20 15:06] #102 closed, assigned to nobody

[2021-05-20 15:09] chet-ensign commented on #128
Confirmed fixed. Closing this ticket.

[2021-05-20 15:09] #128 closed, assigned to nobody

[2021-05-20 15:10] chet-ensign commented on #127
Confirm fixed. Closing this ticket.

[2021-05-20 15:10] #127 closed, assigned to nobody

[2021-05-20 15:11] chet-ensign commented on #126
This has been fixed. Now goes to the MS page on the legacy site. (We didn't migrate Member Sections to new site.)

Closing this ticket.

[2021-05-20 15:11] #126 closed, assigned to nobody

[2021-05-20 15:17] chet-ensign commented on #124
The button text is a Kavi feature, not under our control. Because we only know that this happened this one time and because we likely cannot change it easily, I'm closing this ticket with no action. If it occurs again, we'll try to work with Kavi support to change the text.

[2021-05-20 15:17] #124 closed, assigned to nobody

[2021-05-20 15:19] chet-ensign commented on #84
Scott added 'Member Login Tips' to the top right, next to the logins. That seems to address the problem. Closing this ticket.

[2021-05-20 15:19] #84 closed, assigned to scottmcgrath

[2021-05-20 15:34] paul-knight commented on #30
Minor item: In the mail list display, the link to "OASIS Mailing Lists Help" is broken - needs to point to www-legacy, or the target should be created on new www.

[2021-05-21 20:49] chet-ensign commented on #132
I recreated the press release so the link works now. I'll close the ticket.

[2021-05-21 20:49] #132 closed, assigned to nobody

[2021-06-01 19:22] paul-knight commented on #118
Too bad it's not ready for the OS publications coming out now from OSLC-OP...

[2021-06-01 21:20] chet-ensign commented on #118
Paul, do you have thoughts on what needs to change? I'll turf suggestions to Carol. Thx - /chet

[2021-06-15 13:29] PimvanderEijk opened #134 "Bad link in https://www.oasis-open.org/open-projects/"
Page https://www.oasis-open.org/open-projects/

"The work is funded by sponsorship from organizations",  hyperlinks to https://www.oasis-open.org/join-3/#OpenProjectSponsorship

This link returns a "Nothing Found Sorry, it seems we can't find what you're looking for. Maybe you'd like to return to the homepage?"

[2021-06-15 14:01] chet-ensign commented on #134
Pim, thanks. I think this is an easy fix.

On Tue, Jun 15, 2021 at 9:30 AM PimvanderEijk ***@***.***>
wrote:

--
Chet Ensign

Chief Technical Community Steward

OASIS Open

+1 201-341-1393 <+1+201-341-1393>
***@***.***
www.oasis-open.org

[2021-06-15 17:55] OASIS-OP-Admin commented on #134
Thanks again, Pim. I changed the link to go to https://www.oasis-open.org/join/#membership-dues-op . That seems the most relevant page for someone following that link.

[2021-06-15 17:56] OASIS-OP-Admin commented on #134
I will close this ticket. If you disagree with the link, just let me know and I'll make the change.

[2021-07-06 17:52] #134 closed, assigned to chet-ensign

[2021-07-06 17:55] OASIS-OP-Admin commented on #125
Updated both links to https. Closing the ticket.

[2021-07-06 17:55] #125 closed, assigned to nobody

[2021-07-06 17:57] OASIS-OP-Admin commented on #123
Sent email to ask Jane if this is still a problem. Jane confirms that it is.

[2021-07-06 17:57] OASIS-OP-Admin commented on #119
HM fixed this problem and I confirmed on production. Closing the ticket.

[2021-07-06 17:57] #119 closed, assigned to nobody

[2021-07-16 14:44] OASIS-OP-Admin opened #135 "Fix broken listing for OSLC Requirements Mgmt OS in Standards page"
The first entry in the list of standards is an unnamed entry. Appears to be Requirements Mgmt OS uncompleted. Check the other entries and either fix or delete this copy.

[2021-07-16 15:43] OASIS-OP-Admin opened #136 "Add filter to sort / display standards by TC/OP"
We can currently filter standards by year approved, specification type, and technology area. An obvious capability is display by Project committee. Adding this would be an enhancement but a very useful one. We don't capture that on standards the way we do on news posts.

[2021-07-16 15:52] OASIS-OP-Admin commented on #135
Also discovered that PS02 was never added. Fixing that as well.

[2021-07-16 16:18] OASIS-OP-Admin commented on #135
Added PS02. Fixed the unfinished entry for the OASIS Standard. No more work needed here so I will close the ticket.

[2021-07-16 16:18] #135 closed, assigned to nobody

[2021-07-23 14:23] mbminto commented on #118
![OP Banner 2](https://user-images.githubusercontent.com/67660067/126796024-6d5b14bb-a24e-42dd-a3b7-9306ce0a9b2e.png)

Chet, Paul, here's an OP banner, it's being used on the OriginBX site now.

[2021-07-23 14:27] mbminto opened #137 "Link fix in Indiv/Associate Membership info"
Hi, just noticed there's a broken link on this page: https://www.oasis-open.org/join/#Technical-Committee-Membership

If you go to the Individual/Associate Membership section and click on "Policies" it takes you to a page that says Nothing Found:

You may apply for “Individual/Associate” membership if you:
- are employed by an organization that is willing to sign the OASIS Membership Agreement and

[2021-07-23 14:45] scottmcgrath commented on #137
Fixed

On Fri, Jul 23, 2021 at 10:27 AM Mary Beth Minto ***@***.***>
wrote:

--
Scott McGrath

Chief Operating Officer

OASIS Open

+1 781- <+1+781-425-5073>569-5115 Desk
+1 781-929-7308 Mobile
***@***.***
www.oasis-open.org

[2021-07-23 14:50] paul-knight commented on #118
Thanks!  That's the right appearance, but it's too low resolution... Do you
know the source?

On Fri, Jul 23, 2021 at 10:23 AM Mary Beth Minto ***@***.***>
wrote:

--
Paul Knight

Document Process

OASIS Open

+1 781-883-1783 <+1+781-883-1783>
***@***.***
www.oasis-open.org

[2021-07-23 20:05] paul-knight commented on #118
Thanks to Mary Beth, it is now ready:
https://docs.oasis-open-projects.org/templates/logo/open-projects-logo-2020-large.png
and https://docs.oasis-open-projects.org/templates/logo/open-projects-logo-2020.png

[2021-07-23 20:06] #118 closed, assigned to nobody

[2021-07-23 20:13] paul-knight opened #138 "Renew content and links to TC Administration How-to Guide"
https://www-legacy.oasis-open.org/resources/tcadmin/tc-process-how-to-guide-introduction does not appear to have been made available on the new website.
This is very important information, including how to handle public review.
Some of the contents and terminology probably need to be updated as well.

[2021-07-23 20:41] OASIS-OP-Admin commented on #138
Yes, this is content that needs to be migrated - and expanded.

[2021-07-30 15:35] OASIS-OP-Admin commented on #78
Sent email to Jesse -

Fix broken link on lists archive page

Hi Jesse,

I'm tackling some of the open tickets for the new website.

On the OASIS Mailing List Directory page (https://lists.oasis-open.org/archives/), under Related links, the link to Mailing List Guidelines and Procedures is broken. It tries to link to https://www.oasis-open.org/maillists/guidelines.php.

Can you link it to https://

[2021-07-30 15:40] OASIS-OP-Admin commented on #78
Realized this ticket is for individual email archives. Followed up with 2nd email to Jesse

Hi Jesse,

I just realized that Paul was also pointing out that the links on the individual archive pages is broken. For example, on https://lists.oasis-open.org/archives/members/, in the yellow box, OASIS Mailing Lists Help is also broken, pointing to http://www.oasis-open.org/maillists/guidelines.php#sear

[2021-07-30 15:43] OASIS-OP-Admin commented on #51
Revised all tickets to work for both TC and OP outputs. Recreated all support request forms in Gravity Forms and made active on website. Much easier to work with Gravity Forms.

The work is complete so I am closing this ticket.

[2021-07-30 15:43] #51 closed, assigned to nobody

[2021-07-30 15:46] OASIS-OP-Admin commented on #79
I reviewed the photos for board, staff, distinguished contributors and op advisory council. The portraits look pretty good. Some of the DCs could be better but, with the source we have, they're probably about the best that can be expected.

I'll close this ticket.

[2021-07-30 15:46] #79 closed, assigned to chet-ensign, mbminto

[2021-07-30 15:57] OASIS-OP-Admin commented on #103
HM noted that this looks like a problem with the HTML in the custom blocks they created. Attempting to fix risks corrupting the data. They could address by changing from a custom type to simple posts but we would lose the ability to export specific components of the standard data.

Since this might allow us to export cite as blocks and create a citation guide for OASIS Standards, I said we'd leave

[2021-07-30 15:57] #103 closed, assigned to chet-ensign

[2021-07-30 15:59] OASIS-OP-Admin commented on #112
HM fixed this. Dates and times are consistent now.

Closing this ticket.

[2021-07-30 15:59] #112 closed, assigned to nobody

[2021-07-30 16:54] OASIS-OP-Admin commented on #41
oasis-open-projects.org now redirects to the open projects program page at https://www.oasis-open.org/open-projects/

[2021-07-30 17:00] OASIS-OP-Admin commented on #41
The redirects I created don't seem to be working. I'll check with HM to see if there is anything else I need to do to activate it.

[2021-07-30 17:08] OASIS-OP-Admin commented on #41
Oh, I see. The links from /oasis-open-projects/ aren't managed the redirect manager for oasis-open.org. I'll follow up with Jesse.

[2021-07-30 17:26] OASIS-OP-Admin commented on #41
I logged on to oasis-open-projects.org. The Redirect Manager tool isn't installed there. Sent email to Scott to follow up and ask if he knows how to do that.

[2021-07-30 21:26] OASIS-OP-Admin commented on #137
As noted. Fixed so closing this ticket.

[2021-07-30 21:26] #137 closed, assigned to nobody

[2021-08-02 17:37] OASIS-OP-Admin commented on #78
Jesse added a redirect to handle the link. It works, including the # suffix.

I'll close this ticket.

[2021-08-02 17:37] #78 closed, assigned to OASIS-OP-Admin

[2021-08-02 21:18] OASIS-OP-Admin commented on #77
All the policies were cross-checked against the legacy site. All historical versions are linked.

I'll close this task.

[2021-08-02 21:18] #77 closed, assigned to chet-ensign

[2021-08-03 14:13] OASIS-OP-Admin commented on #111
I can pull up the page at https://www-legacy.oasis-open.org/events/interops. Sent Jane email asking if she just wants a few or whether I should get a data dump from Jesse.

[2021-08-03 14:14] OASIS-OP-Admin commented on #107
This topic hasn't been raised. I'll go ahead and close this ticket. We can revisit if there is a request.

[2021-08-03 14:14] #107 closed, assigned to nobody

[2021-08-03 15:12] scottmcgrath commented on #107
FWIW, I've found the routine browser based print or save functions deliver
~ acceptable results

On Tue, Aug 3, 2021 at 10:15 AM OASIS-OP-Admin ***@***.***>
wrote:

--
Scott McGrath

Chief Operating Officer

OASIS Open

+1 781- <+1+781-425-5073>569-5115 Desk
+1 781-929-7308 Mobile
***@***.***
www.oasis-open.org

[2021-08-24 15:14] mbminto opened #139 "Individual Membership: fix bulleted list"
Quick fix needed on the bulleted list found under the ["Personal Membership" -> Individual Membership section](https://www.oasis-open.org/join/):

You may apply for a personal “Individual” membership if you:

- are self-employed or unemployed and
- sign the **OASIS Mem**https://www.oasis-open.org/policies-guidelines/
- **bership Agreement** on your own behalf and
- are legally able to directly lic

[2021-08-24 20:55] OASIS-OP-Admin commented on #139
Thanks for catching that, Mary Beth. All fixed  now.

[2021-08-24 20:55] #139 closed, assigned to nobody

[2021-08-30 15:39] chet-ensign commented on #123
Increased image box has been rolled into production. See https://www.oasis-open.org/events/

I will close this ticket. @jane-harnad @jharnad - you can reopen if you see need for more work.

[2021-08-30 15:39] #123 closed, assigned to nobody

[2021-09-07 16:57] OASIS-OP-Admin opened #140 "Can't deselect the member types from the member record"
Reported by Mary beth.

On the Member post, when she deselects Sponsor as the Member Type, it automatically defaults to Contributor. So it appears that the only way to remove a member from our list is to delete their record.

Checking with HumanMade to determine if the behavior described above is correct.

We may be able to create a new Member Type to address the issue.

[2021-10-12 16:31] mbminto opened #141 "Joining OASIS Committees - broken link"
On the [My OASIS Homepage](https://www.oasis-open.org/kws/), down in the section called Important Links -> Technical Work, there's a broken link called "[Joining OASIS Committees](https://www.oasis-open.org/committees/join.php)."

[2021-10-12 17:04] OASIS-OP-Admin commented on #141
I don't think that I have access to fix that link. I will check with Jesse/Bitlancer.

[2021-11-11 22:06] OASIS-OP-Admin opened #142 "Fix links on legacy pages that use old URLs"
Bill Cox and Tom from PROMCODE both followed links on legacy pages. See for example tools.oasis-open.org

[2021-12-22 20:20] paul-knight opened #143 "page for managing subscriptions to OASIS public mailing lists is outdated"
I found a link for this (https://www.oasis-open.org/mlmanage/index.php) in a UBL document. Most of the UBL documents link to this page so people can join ubl-dev. So unless there is a new version of this page, it is apparently needed, and should be maintained. If there is a new version, we need to inform UBL TC (Ken Holman).

The web page at https://www.oasis-open.org/mlmanage/index.php shows an o

[2021-12-22 20:39] chet-ensign commented on #143
Thanks for spotting this. We'll probably have to get the page migrated to the new web site. It may still be on the legacy system.

[2021-12-22 20:41] chet-ensign commented on #143
Oh, this is on /mlmanage/ - I'm not sure where that page lives. I'll explore with Myles.

[2022-02-23 21:20] OASIS-OP-Admin opened #144 "Add the 'Project/Committee' filter to News and Events content types"
Similar to the one that has been added for Standards - so that news can be filtered by group.

[2022-04-12 18:37] mbminto opened #145 "Get Involved-->Join gives "Not Found" error from all TC pages"
If you go to any TC page (starting here: https://www.oasis-open.org/projects-committees/), and then click on a TC. Go to the top menu area --> Get Involved, then click on Join in the dropdown.

It takes you to a page that says "Nothing Found. Sorry, it seems we can't find what you're looking for.
 Maybe you'd like to return to [the homepage](https://www.oasis-open.org/)?"

I noticed it when I was

[2022-04-12 20:08] scottmcgrath commented on #145
fixed

On Tue, Apr 12, 2022 at 2:37 PM Mary Beth Minto ***@***.***>
wrote:

--
Scott McGrath

Chief Operating Officer

OASIS Open

+1 781- <+1+781-425-5073>569-5115 Desk
+1 781-929-7308 Mobile
***@***.***
www.oasis-open.org

[2022-06-03 17:26] OASIS-OP-Admin opened #146 "Links to members page broken"
Bill Cox sent email alerting us that the links to members page is broken. Gives a Nothing found error message or takes me to Kavi login page.
In WordPress, there is a file named Members that shows the list when I edit it. But when I view it, it takes me to the Kavi login page.

[2022-06-03 17:57] OASIS-OP-Admin opened #147 "Fix Deb Bryant's affiliation information on the OPAC page"
Still has her as being with Red Hat. She is now consulting.

[2022-06-07 18:27] chet-ensign opened #148 "Change Join page per Mary Beth's request to improve the navigation"